.vote_select{
    width: 250px;
    height: 24px;
    background: red;
    position: relative;
    cursor: pointer;
}
.vote_unit{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: green;
}
.ui-draggable-handle, .ui-sortable-handle {
    cursor: all-scroll;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
    background-image: none;
}
.ui-widget-content {
    background:  #ffffff;
    border: 1px solid #aaaaaa;
    color: #222222;
}
.ui-slider-horizontal {
    height: 0.8em;
}
.ui-slider {
    position: relative;
    text-align: left;
    display: inline-block;
}
.ui-slider-horizontal .ui-slider-range {
    height: 100%;
    top: 0;
}
.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
    background: #eee;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:  #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #555555;
    font-weight: normal;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}
.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
    cursor: pointer;
}
.ui-noo-range .slider-range{
    width: 300px;
    margin-left: 10px;
}
.ui-noo-range .amount{
    width: 40px;
}
.noo_vote_table{
    width: 50%;
}
table.noo_vote_table td{
    padding: 15px 0;
}
table.noo_vote_table td input[type='text']{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    box-shadow: none;
    padding: 8px 15px;
    width: 80%;
}
.noo_option_vote label,
.ui-item .ui-item-n{
    display: block;
    padding: 10px 0;
}
.noo_option_vote select,
.noo_option_vote input,
.noo_option_vote textarea{
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #eee;
    height: auto;
    padding: 5px;
    width: 25%;
    box-shadow: none;
    -webkit-box-shadow: none;
}