.noo_event_google_map{
	position: relative;
	width: 100%;
}
.noo_event_google_map_search {
	position: absolute;
	width: 50%;
	margin: 0 auto;
	top: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	
}
#noo_event_google_map_search_input{
	 margin-top: 16px;
     border: 1px solid transparent;
     border-radius: 2px 0 0 2px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     height: 32px;
     outline: none;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	 background-color: #fff;
     padding: 0 11px 0 13px;
     width: 400px;
}