//== Colors
//
//## Gray and brand colors for use across Bootstrap.

// Global textual link color.
@brand-primary:         #ff514a;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@aqua:                  #ff514a;

@text-color:            @black;
@link-color:            @text-color;
@link-hover-color:      @brand-primary; // #f37259

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   #44494b; //44494b
@gray-light:             #4c4441; // #4c4441
@gray-lighter:           #cecfd0; // #cecfd0
@gray-lightest:          #fafafa; // #fafafa
@gray-drak2:             #949494;
@gray-drak3:             #6b6b6b;
@gray-drak4:             #5e5e5e;
@gray-drak5:             #ececec;
@gray-drak6:             #292929;
@gray-drak7:             #5b5a5a;
@gray-drak8:             #c0c0c0;
@gray-drak9:             #333333;
@white:                  #fff;
@black:                  #000;
@black-drak:             #1a1a1a;
@colorf5:                #f5f5f5;
@colorf6:                #e6e6e6;
@colorf6e:                #6e6e6e;






//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background for `<body>`.
@body-bg:               transparent;
@body-bg-image:         "";
@body-bg-repeat:        no-repeat;
@body-bg-align:         left top;
@body-bg-attachment:    fixed;
@body-bg-cover:         auto;

//** Global text color on `<body>`.

@text-secondary-color:  #706967;

// Site layout
@site-background:       #fff; // lighten(@gray-lighter, 5%);
@site-box-shadow:       0 0 7px rgba(0, 0, 0, 0.4);
@site-border-color:     #d5d5d5;
@site-border-color-rgba: rgba(0, 0, 0, 0.275);
@site-width:            90%;
@site-max-width:        1200px;
@site-featured-width:   1600px;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.





// font header
@font-header-base:       'Aguafina Script', cursive;

@font-header-serif:       'Source Sans Pro', sans-serif;

@font-weight-small:       300;
@font-weight-base:        400;
@font-weight-semibold:    600;
@font-weight-bold:        700;

// font-size
@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px


// border
@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;

//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;


// Small screen / tablet
@screen-sm:                  768px;

// Medium screen / desktop
@screen-md:                  992px;

// Large screen / wide desktop
@screen-lg:                  1200px;

// XLarge screen / wide desktop
@screen-xlg:                  1500px;


@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       'Source Sans Pro', sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        'Source Sans Pro', sans-serif;
@font-family-alt:         "Merriweather", serif;

@font-size-root: 16px;
@font-size-xlarge: 60px;
@font-unit: 0em; 

@font-size-base:          @font-size-root;
@font-size-large:         ((18px / @font-size-root) + @font-unit); // ~18px
@font-size-small:         ((12px / @font-size-root) + @font-unit); // ~12px

@font-weight-small:       300;
@font-weight-base:        400;
@font-weight-semibold:    600;
@font-weight-bold:        700; 

@font-size-h1:            ((36px  / @font-size-root) + @font-unit); // ~36px
@font-size-h2:            ((30px  / @font-size-root) + @font-unit); // ~30px
@font-size-h3:            ((24px  / @font-size-root) + @font-unit); // ~24px
@font-size-h4:            ((18px  / @font-size-root) + @font-unit); // ~20px
@font-size-h5:   		  ((14px  / @font-size-root) + @font-unit); //18px
@font-size-h6:            ((12px  / @font-size-root) + @font-unit); //18px
@font-style-base:         normal;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.7; // 24/16
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    ((floor(@font-size-root * @line-height-base) / @font-size-root) + @font-unit); // ~24px




//** By default, this inherits from the `<body>`.
@headings-font-family:    @font-header-serif;
@headings-font-weight:    bold;
@headings-line-height:    @line-height-base;
@headings-color:          @text-color;
@headings-font-style:     normal;
@headings-bg:             #3c3c3c;



//-- Iconography

@icon-font-family: "fontawesome";
@icon-padding-base: 5px; // Margin of the icon with the main item.
@icon-padding-large: 8px; // Margin of the icon with the main item.
@icon-opacity-base: 0.5;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
@screen-mobile:              320px;			
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-mobile-max:              (@screen-xs - 1); //479px
@screen-xs-max:              (@screen-sm-min - 1); //767px
@screen-sm-max:              (@screen-md-min - 1); //991px
@screen-md-max:              (@screen-lg-min - 1); //1199px


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         ((30px / @font-size-root) + @font-unit);
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);

//** Point at which the navbar becomes uncollapsed.
@navbar-float-breakpoint:     @screen-md-min;
//** Point at which the navbar begins collapsing.
@navbar-float-breakpoint-max: (@navbar-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             ((720px + @grid-gutter-width));
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            ((940px + @grid-gutter-width));
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      ((1170px + @grid-gutter-width));
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;

// Container-Boxed width, max-width and offset
@container-width: 1200px;//@site-width;
@container-max-width: 1200px;//@site-max-width;
@container-offset: 40px; 