.colophon {
	.clearfix();
}
.colophon.wigetized {
	position: relative;
	border-top: 1px solid @border-color-base;
	> .container-boxed{
		> div > div{
			padding-top: 80px;
			padding-bottom: 50px;
			@media (max-width: @screen-xs-max) {
				padding-top: 50px;
				padding-bottom: 50px;
			}
			@media (max-width: @screen-sm-max){
				&:nth-child(3){
					// clear: both;
				}
			}
			p {
				padding-top: @grid-gutter-width / 2;
			}
		}
	}
}
.wigetized{
	.widget{
		color: @footer-widget-color;
		a{
			color: @footer-widget-link-color;
			&:hover{
				color:  @footer-link-hover-color;
			}
		}
		.widget-title{
			// color: @footer-widget-title;
			.box-title-single(@brand-primary);
			// &:after{
			// 	color: @text-secondary-color;
			// }
		}
		.twitter_user{
			&,
			a{
				color: #fff;
			}
		}
		ul,ol{
			list-style: none;
			li{
				color: @footer-widget-color;
				border:none;
				margin-left: 0;
				padding-left: 0;
				a{
					color: @footer-widget-link-color;
					&:hover {
						color: @footer-link-hover-color;
					}
				}
			}
		}
		&.widget_recent_entries li a {
			 color: @footer-link-color;
			 &:hover {
				color: @footer-link-hover-color;
			}
		}
		.textwidget{
			span{
				font-weight: @font-weight-semibold;
			}
		}
	}

}
.colophon.site-info {
	background: @footer-bg;
	.footer-menu{
		padding: 0.3em 0;
		border-top: 1px solid @footer-color-border;
		.noo-menu{
			display: table;
			margin: 0 auto;
			li {
				a{
					padding: ((10px /@font-size-root) + @font-unit) ((12px /@font-size-root) + @font-unit);
					color:@footer-nav-color;
					// &:hover{
					// 	color: @footer-link-hover-color;
					// }
				}
				&.current-menu-item{
					> a {
						background:none; 
					}
				}
			}
		}
	}
	.footer-more{
		padding: 30px 0;
		background: @footer-bg;
		color: @footer-color;
		a{
			color: @footer-link-color;
			&:hover{
				color: @footer-link-hover-color;
			}
		}
		.noo-bottom-bar-content {
			text-align: center;
		}
	}
}



//Go to top
a.go-to-top{
	&,
	&:hover
	&:focus{
		background-color: @go-to-top-bg;
	    .border-radius(@border-radius-base);
	    bottom: 72px;
	    .opacity(0);
	    position: fixed;
	    right: -60px;
	    .transition(all 0.2s ease-in-out 0s);
	    color: #fff;
	    font-size: 40px;
	    height: 50px;
	    line-height: 1;
	    text-align: center;
	    width: 50px;
	    z-index: 100;
	    visibility: hidden;
	    &.on {
	    	.opacity(0.8);
	    	visibility: visible;
	    	right: 20px;
	    	&:hover{
	    		.opacity(1);
	    	}
		}
	}
}
