/**
 * 1. Header
 * -----------------------------------------------------------------------------
 */
.top_bar{
  background: @black;
  p{
    color: @gray-drak2;
    font-size: 13px;
    font-weight: @font-weight-base;
    line-height: 40px;
    padding: 0;
    margin: 0;
  }
}
.noo-header{
  position: relative;
}
.noo-address{
  .resetul;
  .after_cler;
  li{
    float: left;
    line-height: 40px;
    font-size: 13px;
    border-left: 1px solid @black-drak;
    padding-right: 20px;
    font-weight: @font-weight-base;
    &:last-child{
      padding-right: 0;
      i{
        padding-right:0;
      }
    }
    a{
      color: @gray-drak2;
      display: inline-block;
    }
    i{
      color: @gray-drak2;
      padding-right: 10px;
      padding-left: 20px;
      &:hover{
        color: @white;
      }
    }
    .tz-icon-search{
      cursor: pointer;
    }
  }
}
.rest-nav{
  background: @black;
}
.noo-box-header{
  position: relative;
  left: auto;
  top: auto;
  width: 100% !important;
  z-index: 999;
  background: @black;
  .transition(background 0.5s ease 0s);
  &.noo-menu-absolute{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100% !important;
    &.have-top-bar{
      top: 40px;
    }
  }
  &.noo-fix-top{
    width: 100%;
    top: 0;
    left: 50%;
    .translate(-50%, 0);
    position: fixed;
    background: @black;
    &.have-top-bar{
      top: 0px;
    }
  }
}
.noo-adminbar{
  .noo-fix-top{
    top: 32px;
    position: fixed;
    &.have-top-bar{
      top: 32px;
    }
  }
  .noo-menu-absolute{
    &.have-top-bar{
      top: 32px;
    }
  }
}

.noo-onepage{
  background: @white;
  position: fixed;
  top: -150px;
  left: 0;
  .transition(all 0.6s ease 0s);
  &.noo-onepage-eff{
    top: 0;
  }
}
.noo-adminbar{
  .noo-onepage-eff{
    top: 32px;
  }
}
.noo-logo-img{
  max-height: @navbar-height;
}
.navbar-brand{
  height: @navbar-height;
  display: block;
  line-height: @navbar-height;
}
.collapse{
  display: block;
}
.container-relative{
  position: relative;
}
.noo-menu{
  .resetul;
  .after_cler;
  > li{
    float: left;
    &:last-child{
      a{
        padding-right: 0;
      }
    }
    a{
      font-size: @font-size-base - 2;
      text-transform: uppercase;
      color: @white;
      font-weight: @font-weight-base;
      padding-left: 22px;
      padding-right: 22px;
      &:focus{
        outline: none;
        outline-color: transparent;
      }

    }
    a.cart-button{
      &:before{
        content: '';
        display: table;
        width: 1px;
        height: 9px;
        background-color: @white;
        position: absolute;
        top: 50%;
        left: 0;
        .translate(0,-50%);
      }
      span{
        em{
          position: absolute;
          display: block;
          width: 17px;
          height: 17px; 
          line-height: 16px;
          .border-radius(50%);
          background: @brand-primary;
          font-size: 10px;
          color: @white;
          text-align: center;
          font-weight: @font-weight-base;
          top: 50%;
          right: -14px;
          margin-top: -7px;
          .translate(0, -50%);
          font-style: normal;
        }
      }
    }
    ul.sub-menu{
      border-top: 1px solid #333;
      background: @black;
      min-width: 196px;
      padding: 11px 25px;
      li{
        float: none;
        text-align: left;
        a{
          text-transform: none;
          color: #ccc;
          font-size: @font-size-base - 1;
          line-height: 38px;
          padding: 0;
        }
      }
    }
  }
}
.noo-menu{
  &.noo_megamenu{
    position: static;
    ul.sub-menu {
      width: 1170px;
      left: 15px;
      padding: 0;
      li{
        float: left;
        a{
          text-transform: uppercase;
          color: #ccc;
          padding: 4px 0 0px 25px;
          &.sf-with-ul{
            padding-top: 18px;
            color: @white;
            font-size: 14px;
            &:after{
              content: '';
              background-color: @brand-primary;
              display: block;
              width: 10%;
              height: 2px;
              bottom: -7px;
              left: 25px;
              @media (max-width: @screen-sm-max) {
                display: none;
              }
            }
            &:hover{
              color: @brand-primary;
            }
          }
          &:after{
            display: none;
          }
          i{
            padding: 0;
            padding-right: 8px;
          }
        }
        ul.sub-menu {
          display: block !important;
          opacity: 1 !important;
          position: relative;
          left: 0;
          top: 10px;
          width: 100%;
          border: none;
          padding-bottom: 20px;
          @media (max-width: @screen-sm-max) {
            top: 0;
          }
          li {
            width: 100%;
            /*border-top: 1px solid #333;
            border-right: 1px solid #333;*/
            a{
              text-transform: none;
              color: #ccc;
            }
          }
          &:after {
            content: '';
            clear: both;
            display: table;
          }
        }
        &:hover{
          a{
            color: #ccc;
          }
        }
      }
    }
    &.mega-col-columns-2{
      ul.sub-menu li{
        width: 50%;
        &:nth-child(2n+1){
          clear: both;
        }
      }
    }
    &.mega-col-columns-3 ul.sub-menu li{
      width: 33.33333333%;
      &:nth-child(3n+1){
        clear:  both;
      }
    }
    &.mega-col-columns-4 ul.sub-menu li{
      width: 25%;
      &:nth-child(4n+1){
        clear:  both;
      }
    }
    &.mega-col-columns-5 ul.sub-menu li{
      width: 20%;
      &:nth-child(5n+1){
        clear:  both;
      }
    }
    &.mega-col-columns-6 ul.sub-menu li{
      width: 16.66666667%;
      &:nth-child(6n+1){
        clear:  both;
      }
    }
    &.noo_heading ul.sub-menu a.sf-with-ul{
      height: 0;    
    }
  }
}

.noo-menu{
  &.noo_megamenu{
    .noo-menu{
      &.noo_widget_area{
        .noo_megamenu_widget_area{
          padding-bottom: 30px;
          padding-top: 25px;
          li{
            width: 100%;
            a{
              padding-left: 0 !important;
              padding-bottom: 16px;
              text-transform: none;
              line-height: 12px;
              display: block !important;
              &:hover{
                color: @brand-primary;
              }
              img{
                width: 75px;
              }
            }
            span.amount{
              color: #999;
              font-size: 15px;
            }
            del{
              color: #666;
              span.amount{
                color: #666;
              } 
            }
            ins{
              span.amount{
                padding-left: 10px;
              }
            }
          }
        }
        .widget-title{
          color: @white;
          margin: 0px 0 28px;
          font-size: 14px;
          text-transform: uppercase;
          position: relative;
          @media (max-width: @screen-sm-max) {
            margin-bottom: 16px;
          }
          &:after{
            position: absolute;
            display: block;
            content: '';
            width: 10%;
            height: 2px;
            background-color: @brand-primary;
            left: 0;
            bottom: -14px;
            @media (max-width: @screen-sm-max) {
              display: none;
            }
          }
        }
      }
    }
  }
}

// search
.top-search{
  width: 100%;
  background: @black;
  border-bottom: 1px solid @black-drak;
  height: 0;
  overflow: hidden;
  .transition(all 0.4s ease 0s);
  form{
    label{
      display: none;

    }
    input[type="search"]{
      background: @black;
      border: 0;
      color: @white;
      font-size: @font-size-base - 1;
      font-style: italic;
      margin: 0;
      padding: 0;
      line-height: 40px;
      &:focus{
        outline: none;
        outline-color: transparent;
      }
    }
    button{
      display: none;
    }
  }
}
.top-search-eff{
  height: 40px;
}