.noo-messages{
	padding: @alert-padding;
	margin-bottom: @grid-gutter-width;
	border-width: 1px;
	border-style: solid;
	.border-radius(@alert-border-radius);
	&.noo-message-{
		&error{
			background: @alert-danger-bg;
			color: @alert-danger-text;
			border-color: @alert-danger-border;
		}
		&success{
			background: @alert-success-bg;
			color: @alert-success-text;
			border-color: @alert-success-border;
		}
		&notice{
			background: @alert-info-bg;
			color: @alert-info-text;
			border-color: @alert-info-border;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}