// Mixins
// --------------------------------------------------

// Utilities
@import "mixins/hide-text.less";
@import "mixins/opacity.less";
@import "mixins/image.less";
@import "mixins/labels.less";
@import "mixins/reset-filter.less";
@import "mixins/resize.less";
@import "mixins/responsive-visibility.less";
@import "mixins/size.less";
@import "mixins/tab-focus.less";
@import "mixins/text-emphasis.less";
@import "mixins/text-overflow.less";
@import "mixins/vendor-prefixes.less";

// Components
@import "mixins/alerts.less";
@import "mixins/buttons.less";
@import "mixins/panels.less";
@import "mixins/pagination.less";
@import "mixins/list-group.less";
@import "mixins/nav-divider.less";
@import "mixins/forms.less";
@import "mixins/progress-bar.less";
@import "mixins/table-row.less";

// Skins
@import "mixins/background-variant.less";
@import "mixins/border-radius.less";
@import "mixins/gradients.less";

// Layout
@import "mixins/clearfix.less";
@import "mixins/center-block.less";
@import "mixins/nav-vertical-align.less";
@import "mixins/grid-framework.less";
@import "mixins/grid.less";

// =============================================================================
// Grid
// =============================================================================

// Container Width
.container-width( @width: @container-width )
{
	width: @width;
}

// Container Max Width
.container-max-width(@max-width: @container-max-width)
{
	max-width: @max-width;
}

// =============================================================================
// CSS3
// =============================================================================

// Drop shadows 
//
// Add it here because bootstrap is going to deprecated it.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}
.border-radius(@radius:4px) {
	-webkit-border-radius:@radius;
	border-radius:@radius;
}
.background-cover( @background-cover ) when ( @background-cover = true ) {
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.calc-width(@width,@calc){
	width: @width;
	width: ~"-webkit-calc("@calc~")"; /** Safari 6, Chrome 19-25 **/
	width: ~"-moz-calc("@calc~")"; /** FF 4-15  **/
	width: ~"calc("@calc~")"; /** FF 16+, IE 9+, Opera 15, Chrome 26+, Safari 7 and future other browsers **/
}

// Icons
.add-icon(@content: "")  {
	content: @content;
	position: relative;
	display: inline-block;
	font-family: @icon-font-family;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.add-icon-before(@content: "", @padding: @icon-padding-base, @opacity: @icon-opacity-base) {
	&:before {
		.add-icon(@content);
		padding-right: @padding;
		.opacity( @opacity );
	}
}

.add-icon-after(@content: "", @padding: @icon-padding-base, @opacity: @icon-opacity-base) {
	&:after {
		.add-icon(@content);
		padding-left: @padding;
		.opacity( @opacity );
	}
}

.bg-cover (){
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

// Tags ( used in Tags Cloud )
.tag() {
	&:extend(.btn);
	&:extend(.btn-default);
	margin: 0 3px 3px 0;
	color:@white;
	background: @gray;
	border-color: @gray;
	font-size: @font-size-base;
	font-weight: @font-weight-base;
	line-height: 1;
	&:hover{
		background: @brand-primary;
		border-color: @brand-primary;
		color: @white;
	}
}


.form-control() {
  display: block;
  width: 100%;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0 0 30px;
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}


//box-title
.box-title(@color:@text-color){
	font-size: @font-size-base;
	text-transform: uppercase;
	font-weight: @headings-font-weight;
	color: @white;
	position: relative;
	margin-bottom: 0;
	margin-top: 0;
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
	border-left: 2px solid @color;
	margin-bottom: 30px;
	span{
		margin-left: 2px;
		background: @color;
		display: inline-block;
		padding: 0 10px;
	}
}




.box-title-single(@color:@text-color){
	font-size: @font-size-base;
	text-transform: uppercase;
	font-weight: @headings-font-weight;
	color: @white;
	position: relative;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 4px;
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
	margin-bottom: 30px;
	background-color: @color;
	padding: 0 10px;
	&:before{
		content: '';
		width: 2px;
		height: 100%;
		background-color: @color;
		position: absolute;
		top: 0;
		left: -4px;
	}
}
.box-title-large-single(){
	.box-title-single();
	font-size: @font-size-large;
	line-height: 30px;
}
