// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
  z-index: @zindex-modal;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
      .scale(0.5);
      .opacity(0);
      -webkit-transition: scale 0.5s ease-in-out 0s,opacity 0.5s ease-in-out 0s,transform 0.5s ease-in-out 0s;
      -o-transition: scale 0.5s ease-in-out 0s,opacity 0.5s ease-in-out 0s,transform 0.5s ease-in-out 0s;
      -ms-transition: scale 0.5s ease-in-out 0s,opacity 0.5s ease-in-out 0s,transform 0.5s ease-in-out 0s;
      -moz-transition:scale 0.5s ease-in-out 0s,opacity 0.5s ease-in-out 0s,transform 0.5s ease-in-out 0s;
      transition:scale 0.5s ease-in-out 0s,opacity 0.5s ease-in-out 0s,transform 0.5s ease-in-out 0s;
      .transform-origin(center top 0);
    // .translate3d(0, -25%, 0);
    // .transition-transform(~"0.3s ease-out");
  }
  &.in .modal-dialog {
     .opacity(1);
     .scale(1);
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: ((10px / @font-size-root) + @font-unit);
}
.modal-dialog.modal-dialog-center{
  left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    .modal-body {
      overflow-y: auto;
  }
  .modal-footer {
      margin-top: 0;
  }
}
@media (max-width: @screen-xs-max) {
  .modal-dialog.modal-dialog-center {
    width: 100%;
  }
} 
// Actual modal
.modal-content {
  position: relative;
  background-color: @modal-content-bg;
  border: 1px solid @modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
  border: 1px solid @modal-content-border-color;
  border-radius: @border-radius-large;
  .box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal-background;
  background-color: @modal-backdrop-bg;
  // Fade for backdrop
  &.fade { .opacity(0); }
  &.in { .opacity(@modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: @modal-title-padding;
  border-bottom: 1px solid @modal-header-border-color;
  min-height: (@modal-title-padding + @modal-title-line-height);
}
// Close icon
.modal-header .close {
  margin-top: ((-2px / @font-size-root) + @font-unit);
}



// Title text within header
.modal-title {
  margin: 0;
  line-height: @modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: @modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: @modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid @modal-footer-border-color;
  &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: ((5px / @font-size-root) + @font-unit);
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: @screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: @modal-md  + 160;
    margin: 15em auto;
  }
  .modal-content {
    .box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm { width: @modal-sm; }
}

@media (min-width: @screen-md-min) {
  .modal-lg { width: @modal-lg; }
}

.donate-modal{
	font-family: @font-family-base;
	.donate-error{
		text-align: center;
		color: @brand-danger;
		margin-bottom: (@grid-gutter-width / 2);
	}
	.modal-header{
		padding: 0;
		border: none; 
		.close{
			font-size: 30px;
		    margin: 0;
		    opacity: 0.4;
		    position: absolute;
		    right: 15px;
		    top: 15px;
		    z-index: 1;
		}
	}
	.modal-body{
		padding: 0;
		.nav-tabs{
			margin: 0;
			padding: 0;
			list-style: none;
			border-bottom: 1px solid @border-color-base;
			> li{
				margin-bottom: 0;
				width: 50%;
				border: none;
				padding: 0;
				margin: 0;
				> a:focus,
				> a:hover,
				> a{
					margin: 0;
					text-align: center;
					padding: @grid-gutter-width;
					font-weight: bold;
					border:none;
					color: @text-secondary-color;
					background: transparent;
					.border-radius(0);
				}
				&:first-child{
					> a{
						border-right: 1px solid @border-color-base !important;
					}
				}
				&.active > a{
					background: transparent;
					color: @headings-color;
					border:none;
				}
			}
		}
		.tab-content{
			padding: @grid-gutter-width;
			.donate-form-radio{
				padding: (@grid-gutter-width / 2) 0;
				.clearfix();
				label{
					.btn();
					.btn-default();
					.btn-block();
					border:1px solid @border-color-base;
					background: @background-color-base;
					float: left;
					font-weight: bold;
					font-family: @font-family-base;
					@media (max-width: @screen-xs-max) {
						margin-bottom: @grid-gutter-width / 2;
					}
					input[type=radio]{
						display: none;
					}
					&.selected{
						.btn-primary();
					}
				}
				input[type=radio]{

				}
			}
			.donate-form-text{
				display: block;
				label{
					display: block;
					margin: 0;
				}
				.donate-form-val-by-input {
					display: none;
				}
				.donate-form-text-input{
					.form-control();
					font-family: @font-family-base;
					width: 100%;
					margin: (@grid-gutter-width / 2) 0;
					font-weight: bold;
				}
				.selected .donate-form-text-input{
					border-color: @brand-primary;
				}
			}
			.donate-form-info{
				textarea,
				input[type=text]{
					.form-control();
					font-family: @font-family-base;
					display: block;
					width: 100%;
					margin-bottom: (@grid-gutter-width / 2);
				}
				textarea{
					height: 150px;
				}
			}
		}
	}
	.donate-form-contine{
		text-align: center;
	}
}

