//
// Basic Structure
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  // position: relative;
  height: @navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  z-index: @zindex-navbar;
  text-align: center;
  // Prevent floats from breaking the navbar
  &:extend(.clearfix all);
}


// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.




// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.

.navbar-collapse {
  @media (max-width: @navbar-float-breakpoint-max) {
    clear: both;
  }
  &:extend(.clearfix all);
  &.in {
    // overflow-y: auto;
  }

  @media (min-width: @navbar-float-breakpoint) {
    width: auto;
    // border-top: 0;
    // box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      // overflow-y: visible;
    }
  }
}


//
// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.


// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top{
  @media (min-width: @navbar-float-breakpoint) {
    position: fixed;
    right: 0;
    left: 0;
    // top: 0!important;
    z-index: @zindex-navbar-fixed;
    background-color: @navbar-fixed-bg;
    .box-shadow(@navbar-default-box-shadow);
    &.bg-transparent {
      background-color: @navbar-fixed-bg;
    }
  }
  // Add the width on site boxed layout
  body.boxed-layout & {
    margin-right: auto;
    margin-left: auto;
    width:@site-width;
    max-width: @site-max-width;
  }
  body.nice-scroll:not(.boxed-layout) & {
    padding-right: 10px;
  }
  body.boxed-layout.nice-scroll & {
    .calc-width(@site-width,~"90% - 10px");//@site-width;
    left: -10px;
  }
  &.navbar {
    .box-shadow(0 0 0 1px @border-color-lighter);
  }
}
.noo-fixed-img{
  display: none;
}
.navbar-fixed-top {
  top: 0;
  @media (min-width: @navbar-float-breakpoint) {
    .noo-logo-normal{
      display: none !important;
    }
    .noo-fixed-img{
      display: block;
    }
  }
}

// Brand
.navbar-brand {
  //padding: @logo-padding-vertical @logo-padding-horizontal;
  font-family: @logo-font-family;
  font-weight: @logo-font-weight;
  font-size: @logo-font-size;
  height: @navbar-height;
  line-height: @navbar-height;
  display: inline-block;
  color: @white;
  @media (max-width: @navbar-float-breakpoint-max) {
    float: left;
    font-size: @font-size-base;
    padding: 0 @grid-gutter-width/2;
  }
  &:hover {
    // color: @logo-font-color;
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
  img{
    max-height: @navbar-height;
  }

  .noo-logo-img {
    display: inline-block;
  }
  .noo-logo-mobile-img{
    display: none;
  }

}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  .translate(0,-50%);
  font-size: 25px;
  height: auto;
  padding: 0;
  border-radius: @border-radius-base;
  // margin-right: @navbar-padding-horizontal;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  cursor: pointer;
  i.fa-bars {
    display: table-cell;
    vertical-align: middle;
  }
  &:hover {
    text-decoration: none;
  }

  @media (min-width: @navbar-float-breakpoint) {
    display: none;
  }
}
.navbar-user{
  display: none;
  position: absolute;
  top: 50%;
  .translate(0,-50%);
  right: 0;
  font-size: 25px;
  @media (max-width: @navbar-float-breakpoint-max) {
    display: block;
  }
}
//
// SuperFish Menu, prefer over Bootstrap menu because of hover trigger.
// Use as default Nav
//
.sf-menu,
.noo-menu {
  &, * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;
  }

  > li {

    display: inline-block;
    @media (max-width: @navbar-float-breakpoint-max) {
      display: block;
    }
    // float: left;
  }

  li {
    position: relative;
    &:hover,
    .sfHover {
      > ul.sub-menu {
        display: block;
      }
    }
  }

  li > a {
    // white-space: nowrap;
  }

  ul.sub-menu {
    position: absolute;
    display: none;
    top: auto;
    left: auto;
    width: auto;
    min-width: 220px;
  }

  &:extend(.clearfix all);
}



.sf-arrows .sub-menu .sf-with-ul {
  &:after {
    content: "\f105";
    font-family: "fontawesome";
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    speak: none;
    right: 15px;
    position: absolute;
  }
}


// Navbar-nav default behavior
//
.navbar-nav {

    li{
    &:hover, .sfHover {
      > a {
        background-color: @navbar-default-link-hover-bg;
        color: @navbar-default-link-hover-color;
      }
    }

    &.current-menu-item,
    &.active{
      > a {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
      }
    }

    &.disabled {
      > a {
        &,
        &:hover,
        &:focus {
          color: @navbar-default-link-disabled-color;
          background-color: @navbar-default-link-disabled-bg;
        }
      }
    }
  }

  ul.sub-menu {
    li {
      display: block;
      > a{

        &:hover{
          color: @navbar-sub-default-link-hover-color;
        }

      }
      &:hover
      &.sfHover{
        > a{
          color: @navbar-sub-default-link-hover-color;
        }
      }
      &.current-menu-item {
        > a {
          color: @brand-primary;
        }
      }
    }
  }

  // Uncollapsed Menu
  @media (min-width: @navbar-float-breakpoint) {
    > li {
      > ul.sub-menu {
        // Default right alignment
        left: 18px;

        // Sub-menu open to left by default ('cause menu on the right)
        ul.sub-menu {
          top: @submenu-offset-top;
          left: 100%;
          right: auto;
        }
      }
    }
  }

  // Collapsed menu
  @media (max-width: @navbar-float-breakpoint-max) {
    //margin: 20px 0;

    > li {
      float: none;
    }

    li > a {
      white-space: normal;
    }

    li {
      .transition(none);
    }

    // Display all sub-menu nav items on mobile.
    ul.sub-menu {
      position: static;
      float: none;
      max-width: none;
      //margin: 0 20px;
      padding: 0;
      // border: none;
      border-radius: 0;
      .box-shadow(none);
      .transition(none);

      &:before, &:after {
        display: none;
      }

      // Reset dropdown font size to match top level.
      a {
        font-size: @navbar-font-size;
      }
    }
  }
}

// Uncollapsed Menu
@media (min-width: @navbar-float-breakpoint) {
  // Move the link height here so that navbar can change height later
  .navbar {
    .navbar-brand {
      // line-height: @navbar-height;
    }
    .navbar-nav {
      > li > a {
        line-height: @navbar-height;
      }
    }
  }
}

// Enhanced feature: fly over and mega menu only on PC
// and not when navbar fixed on the side
.navbar-nav.sf-menu {
  // Only on PC
  @media (min-width: @navbar-float-breakpoint) {
    > li {
      ul.sub-menu {
        background-color: @black;
        .border-radius(0);
        // border: 0;
      }

      > ul.sub-menu {
        &:before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 35px;
          top: -10px;
          border: 0;
          // border-right: 8px solid transparent;
          // border-bottom: 8px solid @brand-primary;
          // border-left: 8px solid transparent;
        }
      }

      li {
        &.fly-left {
          > ul.sub-menu {
            left: auto;
            right: @submenu-offset-horizontal;
            box-shadow: @submenu-left-default-box-shadow;
          }
        }
        &.fly-right {
          > ul.sub-menu {
            left: @submenu-offset-horizontal;
            right: auto;
            box-shadow: @submenu-right-default-box-shadow;
          }
        }
      }

      // Alignment ( override the default right alignment )
      &.align-left {
        > ul.sub-menu {
          left: 0;
          right: auto;
        }
      }
      &.align-right {
        > ul.sub-menu {
          left: auto;
          right: 0;
        }
      }
      &.align-center {
        > ul.sub-menu {
          left: 50% !important;
          right: auto;
          .translate ( -50%, 0 );
        }

      }
      &.full-100-width {
        position: inherit !important;
        > ul.sub-menu {
          width: 100%;
          left: 0;
        }
      }
      &.full-width {
        position: inherit !important;
        > ul.sub-menu {
          width: 100%;
          max-width: @container-max-width;
          left: 50%;
          .translate(-50%; 0);
        }
      }
      &.full-100-width.sfHover,
      &.full-width.sfHover {
        > ul.sub-menu {
          &:before {
            border: 0;
          }
        }
        > a {
          position: relative;
        }
      }

      // 6. mega menu
      &.megamenu {

        // @columns-2-width: 49.6%;
        // @columns-3-width: 32.8%;
        // @columns-4-width: 24.45%;
        // @columns-5-width: 19.45%;
        // @columns-6-width: 16.1%;

        > ul.sub-menu {
          li{
            float: none;
            width: 100%;
          }
          li > a {
            white-space: normal;
          }

          > li {
            display: block !important;
            float: left !important;
            margin: 5px 0;
            padding-left: 0;
            padding-right: 0;
            vertical-align: top;
            position: relative;

            // default 3 columns
            width: 32.8%;

            > ul.sub-menu {
              padding: 0;
              display: block !important;
              opacity: 1 !important;
              top: 0px !important;
              width: 100%;
              left: 0px !important;
              position: relative !important;
              .box-shadow(none);
              background-color: transparent;
            }

            &.menu-item-has-children {
              //border-right: 1px solid rgba(65, 65, 65, 0.1);
              &:last-child {
                border-right: none !important;
              }
              > a {
                background-color: transparent;
                font-weight: bold;
                letter-spacing: 2px;
                font-size: @navbar-font-size;
                text-transform: uppercase;
                padding: 10px 20px;

                &.sf-with-ul {
                  &:before, &:after {
                    display: none;
                  }
                }
              }
            }

            &.menu-item-has-children:hover, &.menu-item-has-children.sfHover {
              > a {
                //background-color: transparent;
              }
            }
          }
        }

        ul.sub-menu li > a {
          border-top: 0;
          //.add-icon-before("\f0da",@icon-padding-base,1);
        }

        &.columns-2 > ul.sub-menu {
          > li { width: 49.6%; }
          > li:nth-child(2n) {
            border-right: none !important;
          }
          > li:nth-child(2n+1) {
            clear: both;
          }
          > li.colspan-2 { width: 100%; clear: both; border-right: none; }
        }
        &.columns-3 > ul.sub-menu {
          > li { width: 32.8%; }
          > li:nth-child(3n) {
            border-right: none !important;
          }
          > li:nth-child(3n+1) {
            clear: both;
          }
          > li.colspan-2 { width: 65.6%; }
          > li.colspan-3 { width: 100%; clear: both; }
        }
        &.columns-4 > ul.sub-menu {
          > li { width: 24.45%; }
          > li:nth-child(4n) {
            border-right: none !important;
          }
          > li:nth-child(4n+1) {
            clear: both;
          }
          > li.colspan-2 { width: 49.6%; }
          > li.colspan-3 { width: 73.35%; }
          > li.colspan-4 { width: 100%; clear: both; }
        }
        &.columns-5 > ul.sub-menu {
          > li { width: 19.45%; }
          > li:nth-child(5n) {
            border-right: none !important;
          }
          > li:nth-child(5n+1) {
            clear: both;
          }
          > li.colspan-2 { width: 38.9%; }
          > li.colspan-3 { width: 58.35%; }
          > li.colspan-4 { width: 77.8%; }
          > li.colspan-5 { width: 100%; clear: both; }
        }
        &.columns-6 > ul.sub-menu {
          > li { width: 16.1%; }
          > li:nth-child(6n) {
            border-right: none !important;
          }
          > li:nth-child(6n+1) {
            clear: both;
          }
          > li.colspan-2 { width: 32.8%; }
          > li.colspan-3 { width: 49.6%; }
          > li.colspan-4 { width: 65.6%; }
          > li.colspan-5 { width: 80.5%; }
          > li.colspan-6 { width: 100%; clear: both; }
        }
      }
    }

  }
}



.navbar-toggle {

  &.collapsed {
    color: @navbar-default-toggle-color;
    // top: 0!important;
    &:hover {
      color: @navbar-default-toggle-hover-color;
      // background-color: @navbar-default-toggle-hover-bg;
    }
  }
}

.noo-navbar {
  display: inline-block;
  width: 100%;
}


// Floating Header
@media (min-width:@navbar-float-breakpoint) {
  body.page-menu-transparent {
    // Floating NavBar
    .noo-header {
      position: absolute;
      width: 100%;
      z-index: @zindex-navbar;
      background-color: rgba(41,46,49,0.3);
      &.has-border {
        // border-bottom: 1px solid rgba(255,255,255,0.25);
      }
    }
    .noo-topbar {
      background: rgba(68,73,75,0.33);
      .noo-social a i{
        color: rgba(255,255,255,0.2);
        &:hover{
          color: @white;
        }
      }
    }
    .navbar:not(.navbar-fixed-top) {
      margin-right: auto;
      margin-left: auto;
      box-shadow: none;
      .navbar-nav > li > a {
        color: @white;

        &:hover {
          color: @nav-link-hover-color;
        }
        @media (max-width: @grid-float-breakpoint) {
          color: @text-color;
          background: #fff;
        }
      }
      .member-search{
        form{
          color: #fff;
        }
      }
      .navbar-right{
        border-left: 2px solid rgba(45,50,53,0.2);
        .member-links{
          a{
            color: @white;
            &:hover{
              color: @link-hover-color;
            }
          }
        }
      }
    }

    .noo-page-heading.noo-page-heading-bg > div:first-child {
      margin-top: @navbar-height;
    }
  }
  .page-menu-transparent{
    .noo-topbar{
      border-color: transparent;
      background-color: rgba(0, 0, 0, 0.1);
      .topbar-right .searchform .searchinput{
        background: transparent;
      }
    }
    .navbar:not(.navbar-fixed-top){
      background: transparent;
      border-color: transparent;
      color: @white;
    }
  }
}


.navbar-header{
  float: left;
  position: relative;
  height: @navbar-height;
  max-height: 100%;
  @media (max-width: @navbar-float-breakpoint-max) {
    float: none;
    text-align: left;
  }
}

.navbar-primary{
  float: left;
}
.navbar-right{
  float: right;
  padding-left: @grid-gutter-width;
  //height: @navbar-height;
  max-height: 100%;
  position: relative;
  @media (max-width: @screen-md-max){
    padding-left: (@grid-gutter-width / 2);
  }
  @media (max-width: @navbar-float-breakpoint-max) {
    .user-navbar-collapse{
      position: absolute;
      right: 0;
      z-index: 10;
    }
  }
  .navbar-nav > li{
    float: left;
  }
  .member-links{
    @media (max-width: @navbar-float-breakpoint-max) {
      min-width: 200px;
    }
    .member-info-wrap{
      height: @navbar-height;
      line-height: @navbar-height;
      @media (max-width: @navbar-float-breakpoint-max) {
        display: none;
      }
    }
    a{
      display: block;
      line-height: 30px;
      padding: 0 5px;
      &.member-register-link,
      &.member-login-link{
        display: inline-block;
      }
      &:hover{
        color: @link-hover-color !important;
      }
      @media (max-width: @navbar-float-breakpoint-max) {
        padding: 0 10px;
        margin: 0;
      }
    }
    .member-info{
      font-family: @headings-font-family;
      font-weight: @font-weight-bold;
      text-transform: capitalize;
      @media (max-width: @navbar-float-breakpoint-max) {
        border-top: none;
      }
      &:hover{
        > a{
          color: @link-color;
        }
      }
      .user-name{
        margin-right: @grid-gutter-width/3;
        @media (max-width: @navbar-float-breakpoint-max) {
          text-indent: -9999em;
        }
      }
      img{
        .border-radius(100%);
        @media (max-width: @navbar-float-breakpoint-max) {
          display: none;
        }
      }
      .sub-menu{
        left: auto !important;
        right: 0 !important;
        @media (max-width: @navbar-float-breakpoint-max) {
          display: block !important;
          position: relative;
          a{
            margin: 0;
          }
        }
        a{
          display: block;
          &:hover{
            color: #fff !important;
          }
        }
      }
    }
  }
  .member-search{
    height: @navbar-height;
    line-height: @navbar-height;
    padding-right: @grid-gutter-width;
    form{
      left: 0;
      position: relative;
      top: 50%;
      color: @navbar-default-link-color;
      .translate(0px, -50%);
      .add-icon-before("\f002");
      background: transparent;
      &:before{
        right: 10px;
        position: absolute;
        top: 50%;
        .translate(0px, -50%);
        .opacity(1);
      }
    }
    .formsearch-input{
      .border-radius(0);
      margin: 0;
      height: 39px;
      padding: 0 35px 0 10px;
      border: none;
      background: rgba(0, 0, 0, 0);
      width: 0px;
      .transition(all .3s);
      position: relative;
      z-index: 2;
      color: @navbar-default-link-color;
      cursor: pointer;
      &:focus{
        width: 200px;
        background: none repeat scroll 0 0 rgba(224, 224, 224, 0.64);
      }
    }
  }
}
.navbar-nav.sf-menu > li.megamenu.full-100-width > ul.sub-menu > li{
  display: block !important;
  width: 100% !important;
}
.full-100-width{
  > .sub-menu{
    //display: block !important;
    > li{
      position: relative;
      &:before{
        background: none repeat scroll 0 0 #484d4f;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 10%;
        z-index: 1;
      }
    }
  }
}
.navbar-nav{
  .full-100-width{
    .sub-menu{
      padding: 0 !important;
    }
  }
  .cat-mega-menu{
    margin-left: auto;
    margin-right: auto;
  }
  .cat-mega-menu-wrap{
    display: table;
    width: 100%
  }
  .cat-mega-filters{
    display: table-cell;
    width: 20%;
    height: 100%;
    position: relative;
    vertical-align: top;
    padding-right: @grid-gutter-width;
    padding-top: @grid-gutter-width;
    &:before{
      background: none repeat scroll 0 0 #484d4f;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      right: @grid-gutter-width;
      z-index: 1;
    }
    ul{
      padding:0;
      display: block;
      margin: 0;
      list-style: none;
      position: relative;
      z-index: 2;
      li{
        text-align: right;
        a{
          color: #777a7b;
          font-weight: bold;
          display: inline-block;
          padding-right: @grid-gutter-width;
          .border-radius(@border-radius-base 0 0 @border-radius-base);
        }
        a:hover,
        &.selected a{
          background: #44494b;
          color: #fff;
        }
      }
    }
  }
  .cat-mega-contents{
    display: table-cell;
    height: 100%;
    width: 80%;
    vertical-align: top;
    padding-top: @grid-gutter-width;
    padding-bottom: @grid-gutter-width;
  }
  .cat-mega-content{
    h3{
      margin-top: 10px;
    }
    .cat-mega-intro{
      float: left;
      min-height: 1px;
      width: percentage(5/@grid-columns);
      h3{
        font-size: 1.2em;
        a{
          color: #fff;
        }
      }
    }
    .cat-mega-extra{
      float: left;
      min-height: 1px;
      width: percentage(7/@grid-columns);
      .cat-mega-extra-row{
        padding-bottom: @grid-gutter-width;
        padding-left: (@grid-gutter-width / 2);
        &:last-child{
          padding-bottom: 0;
        }
      }
      .cat-mega-extra-item{
        width: percentage(4/@grid-columns) !important;
        padding: 0 (@grid-gutter-width / 2);
        float: left;
        h3{
          a{
            color: @white;
            padding: 0;
            margin: 0;
            font-size: @font-size-base;
            &:hover,&:focus{
              color: @link-hover-color;
            }
          }
        }
      }
    }
  }
}
.offcanvas-open{
  .offcanvas{
    left: 0;
  }
  .offcanvas-overlay{
    .opacity(0.8);
    visibility: visible;
  }
}
.offcanvas-overlay{
  background-color: #b5b5b5;
  height: 100%;
  left: 0;
  .opacity(0);
  position: fixed;
  top: 0;
  .transition(all 400ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s);
  width: 100%;
  z-index: 1050;
  visibility: hidden;

}
.offcanvas{
  display: none;
  @media (max-width: @navbar-float-breakpoint-max) {
    display: block;
  }
  .transition(all 0.5s ease-in-out 0s);
  background: none repeat scroll 0 0 @background-color-base;
  bottom: 0;
  position: fixed;
  left: -315px;
  top: 0;
  width: 315px;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
}
.offcanvas-close-btn{
  cursor: pointer;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 60px;
  vertical-align: middle;
  width: 100%;
  width:25px;
  height: 25px;
  z-index: 99;
  .opacity(0.5);
  i{
    background: none repeat scroll 0 0 @link-color;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
    top: 10px;
    width: 100%;
    left: 0;
    opacity: 0;
    &:first-child{
      left: 0;
      opacity: 1;
      top: 10px;
      .rotate(45deg);
    }
    &:last-child{
      left: 0;
      opacity: 1;
      top: 10px;
      .rotate(-45deg);
    }
  }
  &:hover,&:focus{
    .opacity(1);
  }
}
.no-menu-assign{
  color: @white;
}