//----------------------------------------------------------------------------//
// NOO Framework / Less / Wordpress / Post and Page
//
// This file is less styling for Post and Page Wordpress
//
//----------------------------------------------------------------------------//

// Common style
//----------------------------------------------------------
.hentry {
    padding:@grid-gutter-width 0;
    border-top: 1px solid @gray-lightest;
    &:first-child{
    	border-top: 0;
    }
	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}

	a:hover {
		text-decoration: none;
	}
	&:first-child {
		// padding-top: 0;
	}
	&:last-child{
		&:after{
			height: 0;
		}
	}
}

.content-header{
	.entry-date{
		display: block;
		color: @gray-lighter;
		text-transform: uppercase;
		font-family: @headings-font-family;
	}	
}

.single .hentry::after {
	height: 0;
}

.hentry.format-quote,
.hentry.format-link{
	a{
		color: #ffffff;
		line-height: 1.5em;
		&:hover{
			color: @brand-primary!important;
		}
	}
	cite{
		color: #ffffff;
	}
	i[class^="fa-"]{
		font-size: 24px;
	    padding-right: 10px;
	    vertical-align: middle;
	    &:hover{
			color: @text-color;
		}
	}
	> .content-wrap{
		background: @link-color;
		padding:20px;
	}
}
.single .hentry.format-quote,
.single .hentry.format-link {
	> .content-wrap{
		background: #fff;
		padding: 20px 0;
		.content-header {
			background: @link-color;
			padding: 20px;
		}
	}
	.content-title {
		color: #fff;
		&:hover {
			color: @brand-primary!important;
		}
	}
	a{
		color: #fff;
		line-height: 1.5em;
		&:hover{
			color: @brand-primary!important;
		}
	}
	.content {
		background: transparent;
	}
}
.post-password-form{
	label{
		font-weight: normal;
		font-weight: 600;
		font-size: 18px;
	}
	input[type="password"]{
		.form-control();
		display: inline-block;
		height: auto;
		width: auto;
	}
	input[type="submit"] {
		.btn-default();
	}
}

.content-featured {
	position: relative;
	background: #fff;
	img {
		width: 100%;
		height: auto;
	}
}

.has-featured .content-featured {
	overflow: hidden;
}

.content-wrap {
	display: block;
	// padding: @grid-gutter-width;
	background-color: transparent; 
	clear: both;
	// border-radius: @border-radius-base;
	// .box-shadow(@box-shadow-base);
	
}

.content-wrap {
	// margin-top: -1px;
	// border: 1px solid @content-border-color;

	&:first-child {
		margin-top: 0;
	}
}

.content-title{
	margin-top: 0.5em;
	line-height: 1.25;
    @media (max-width: @screen-xs-max) {
    	font-size: @font-size-large;
    }
}
.sticky{
	h2.content-title{
		.add-icon-before("\f08d");
		&:before{
			line-height: 1;
		    opacity: 1;
		    .rotate(-36deg);
		    color: @brand-primary;
		}
	}
	margin-bottom:  @grid-gutter-width;
}

.has-featured .content-wrap {
	// border-radius: 0 0 @border-radius-base @border-radius-base;
	//margin-bottom: 20px;
}

.content-thumb {
	display: block;
	position: relative;
	//background-color: black;

	img {
		//.transition(opacity 0.5s ease);
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: @brand-primary;
		opacity: 0.6;
	}


}
.noo-post-list {
	.content-thumb {
		max-height: 550px;
		overflow: hidden;
	}
}

// a.content-thumb:hover {
// 	img {
// 		.opacity(0.5);
// 	}
// }

.content-title {
}
.content-title-portfolio{
}

.content-sub-title {
	display: block;
	margin: @padding-base-horizontal 0 0;
	font-size: @font-size-large;
}

.content-link,
.content-cite {
	// border-bottom: 1px solid #f2f2f2;
	// padding-bottom: 10px;
	// margin-bottom: 15px;
	font-size: @font-size-base;

}

.content-link {
	a {
		// border-bottom: 1px dotted;
		word-break: break-all;
		&:hover {
			color: black;
		}
	}
}

// .content-quote {
// 	&:before {
// 		content: "\201C ";
// 	}
// 	&:after {
// 		content: "\201D ";
// 	}
// }

// .content-cite {
// 	&:before {
// 		content: "\2013\00A0";
// 	}
// }
.button-social {
	font-family: @headings-font-family;
	display: inline-block;
	i{
		margin-right: @grid-gutter-width/8;
	}
	&.box{
		color: @white;
		padding: 0.6em 0.5em;
		background: fade(@brand-primary, 50%);
		.border-radius(@border-radius-small);
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 2;
	}
}
.content-meta {
	font-family: @headings-font-family;
	color: @text-secondary-color;
	position: relative;
	font-style: italic;
	.clearfix();
	> span {
		display: inline-block;
		padding-right: @grid-gutter-width / 2;
		i{
			margin-right: @grid-gutter-width/4;
		}
		> a {
			white-space: nowrap;
			color: @link-hover-color;
			&:hover{
				color: @text-secondary-color;
			}
		}
	}
	.post_type_class {
		margin-right: @grid-gutter-width / 4;
	}
}

.single{
	&.single-format-audio, &.single-format-video, &.single-format-quote, &.single-format-link {
		.noo-main {
			top: 0;
		}
	}
	&.single-format-audio{
		.content-featured{
			.container-fixed();
			max-width: @container-max-width;
		}
	}
	.noo-main {
		@media (min-width: @screen-md-min){
			top: -175px;
		}
		background: @white;
		padding: @grid-gutter-width;
		.hentry {
			padding: 0 0 @grid-gutter-width;
			border-bottom: 0;
			.content-title{
				font-size: @font-size-h2;
				font-weight: 900;
				margin-top: 0;
			}
		}
		@media (max-width: @screen-xs-max) {
			margin-top: 0;
		}
	}
	.content-meta {
		font-weight: 300;
		display: inline-block;
		&, &:last-child {
			margin-bottom: 10px;
		}

		> span {
			.entry-date {
				display: inline-block;
				font-style: italic;
				text-transform: none;
			}
			&.content-meta-button{
				float: right;
				padding-right: 0;
				i{
					padding: 0;
					padding-right: 10px;
				}
				> a{
					.border-radius(50%);
				    display: inline-block;
				    height: 30px;
				    text-align: center;
				    width: 30px;
				    background: @background-color-base;
				    border: 1px solid @border-color-base;
				    line-height: 30px;
				    color: @text-secondary-color;
				    float: left;
				    margin-left: 10px;
				    &:hover{
				    	color: @text-color;
				    }
				}
				@media (max-width: @screen-xs-max) {
					float: none;
					display: block;
					margin-top: 10px;
					> a{
						&:first-child{
							margin: 0;
						}
					}
				}
			}
		}
	}
	.social-shared-wrap{
		display: inline-block;
		position: relative;
		.button-social{
			cursor: pointer;
		}
		.social-shared {
			display: none;
			font-family: @headings-font-family;
			top: 50px;
			position: absolute;
			top: -5px;
			left: 0;
			background: #f7f6f6;
			padding: 5px;
			.opacity(0);
			.border-radius(@border-radius-small);
			min-width: 300px;
			text-align: center;
			@media (max-width: @screen-xs){
				left: -20px;
			}
		    > div {
		  	    display: inline-block;
		  	    padding: 0 10px;
		  	    border-left: 1px solid fade(@gray, 10%);
				i{
					margin-right: @grid-gutter-width/8;
				}
				a{
					color: @text-color;
					&:hover{
						color: @link-hover-color;
					}
				}
				&:first-child{
					border: 0;
				}
		    }
			&.active {
				display: inline-block;
				.opacity(1);
				.transition(1s);
			}
		}
	}
}
.single .content {
	// padding-top: 0;
}
.content {
	background: #fff;
	padding: @grid-gutter-width 0 0 0;
	&:extend(.clearfix all);

	embed,
	iframe,
	object {
		width: 100%;
		max-width: 100%;
	}
}

.content-social{
	margin-top: @grid-gutter-width;
	margin-bottom: @grid-gutter-width / 2;
	text-align: left;
	position: relative;
}
.entry-tags {
	span {
		font-size: @font-size-base + 6;
		font-weight: bold;
		width: 100%;
		display: block;
		padding: (@grid-gutter-width / 2) 0 ; 
		font-family: @headings-font-family;
	}
	a {
		.tag();
	}
}

#author-bio{
	// text-align: center;
	display: inline-block;
	&:extend(.clearfix all);
	border: 1px solid @gray-lightest;
	padding: @grid-gutter-width / 2 @grid-gutter-width; 
	.author-avatar{
		float: left;
		padding-right: 3em;
		text-align: center;
		margin: 0 auto;
		img {
			.border-radius(50%);
			z-index: 2;
			position: relative;
		}
		@media (max-width: @screen-xs){
			float: none;
		}
	}
	.author-info{
		text-align: center;
		h5{
			margin-top: 20px;
			margin-bottom: 20px;
			position: relative;
			&:after {
				content: "";
				width: 15px;
				position: absolute;
				bottom: -10px;
				margin: 0 auto;
				background: @brand-primary;
				height: 1px;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				left: 50%;
			}
		}
	}
	.noo-social {
		a {
			margin-left: 0;
			i {
				border: 0;
				width: 20px;
				height: 20px;
				line-height: 20px;
			}
		}
	}

	> p{
		// color: @black;
		font-style: italic;
		line-height: 2;
		padding: @grid-gutter-width / 2 0;
	}
	.author-des{
		line-height: @line-height-base;
		margin-bottom: 0;
	}
	.author-count-posts{
		line-height: 20px;
		font-family: @headings-font-family;
		background: @gray;
		padding: 0 10px;
		color: @white;
		display: inline-block;
	}
}


.single {
	.related-posts {
		&.noo-horizontal {
			ul li {
				position: relative;
				&:before {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(106,104,65,0.4);
					display: block;
				}
			}
		}
	}
}
.single .content-footer {
	margin-top: 50px;
}
.content-share {
	position: relative;
	right: 0;
	bottom: 0;
	display: none;
	> a {
		font-size: @font-size-large;
	}
	 a:first-child {
		// margin-left: 0.5px!important;
	}
	.noo-social {
		position: absolute;
		right: 90px;
		/* display: block; */
		width: 80px;
		z-index: 9;
		top: 35px;
		background: rgb(61, 61, 61);
		a {
			width: 50%!important;
			float: left;
			color: #777777;
			margin-left: 0!important;
			i {
				background: transparent;
				color: #777777;
			}
			
		}
	}
}
.content-share.active {
	display: block;
}

.single-noo-portfolio{
	.container-boxed.offset{
		margin-top: 0;
	}
	.content-header{
		padding-top:40px;
		padding-bottom: 40px;
		border-bottom: 1px solid @border-color-base; 
		margin-bottom: 40px;
		position: relative;
		.nav-single{
			position: absolute;
			right: 0;
			top: 40px;
			a{
				font-size: 36px;
				color: #d3d3d3;
				margin-left: 20px;
				&:hover,
				&:focus,
				&:active{
					text-decoration: none;
				}
			}
			@media (max-width: @screen-md-min) {
				display: none;
			}
		}
		.nav-single-list{
			position: absolute;
			left: 0;
			top: 40px;
			a{
				font-size: 36px;
				color: #d3d3d3;
				&:hover,
				&:focus,
				&:active{
					text-decoration: none;
				}
			}
			@media (max-width: @screen-md-min) {
				display: none;
			}
		}
	}
	.content-share{
		position: relative;
		margin-bottom: 30px;
	}

	.content-title-portfolio{
		font-size: ((30px / @font-size-root) + @font-unit);
	}
	.attribute-title,
	.project-link-title{
		font-size: @font-size-large;
		font-weight: bold;
	}
	.attribute-list{
		&:extend(.clearfix all);

		> li{
			float: left;
			width: 45%;
			padding: @padding-large-vertical 0;
			border-bottom: 1px solid @border-color-base; 
			a{
				font-size: 12px;
				position: relative;
				color: @text-color;
				&:hover{
					color: @link-hover-color;
				}

				i{
					&:before{
					    background: none repeat scroll 0 0 @link-color;
					    color: #ffffff;
					    display: block;
					    font-size: 8px;
					    height: 12px;
					    line-height: 1.5;
					    text-align: center;
					    width: 12px;
					    border-radius:50%;
					    -webkit-border-radius:50%;
					    position: absolute;
					    top: 3px;
					    left: 0;
					}
				}
			}
			@media (max-width: @grid-float-breakpoint-max) {
				width: 100%;
			}

		}
		.even{
				float:right;
		}

	}
}

// Portfolio Detail
.attribute-list {
	font-size: @font-size-large;
}

.project-link-btn {
	i{
		padding-right: @padding-small-horizontal;
	}
}

//Post Pagination
.post-navigation{
	border: 1px solid @border-color-base;
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		background: @border-color-base;
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		width: 1px;
		@media (max-width: @screen-sm-max) {
			height: 0;
		}
	}
	.prev-post, .next-post{
		width: 50%;
		float: left;
		padding: @grid-gutter-width;
		@media (max-width: @screen-sm-max) {
			width: 100%;
			float: none;
		}
		i{
			font-size: 36px;
			float: left;
			margin: 0 5px 0 0;
		}
		a{
			line-height: 36px;
		}
		&:hover{
			i{
				color: @brand-primary;
			}
		}
	}
	.next-post{
		text-align: right;
		i{
			float: right;
			margin: 0 0 0 5px;
		}
	}
}

.btn-loadmore{
	font-size: @font-size-small;
}


.standard-blog {
	.content-meta {
		margin-top: @grid-gutter-width;
		padding: @grid-gutter-width/2 0;
		text-align: right;
		// padding-bottom: @grid-gutter-width;
		@media (max-width: @screen-sm-max) {
			padding-bottom: @grid-gutter-width;
		}
		.noo-author {
			float: left;
		}
		&:before {
			content: "";
			width: 50px;
			height: 1px;
			background: @border-color-base;
			top: 0;
			left: 0;
			position: absolute;
		}
		a {
			color: @text-color;
			&:hover {
				color: @brand-primary;
			}
		}
	}
	.noo_rating_point {
		bottom: @grid-gutter-width /2;
		left: @grid-gutter-width;
	}
}

/* Images */
.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.wp-caption.alignleft,
img.alignleft {
  margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
  margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
  margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
  margin: 5px 0 5px 10px;
}

img.aligncenter {
  margin: 5px auto;
}

img.alignnone {
  margin: 5px 0;
}
body .alignright {
  clear: right;
}
body .alignleft {
  clear: left;
}
.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
  color: #220e10;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 0 0 24px;
}

div.wp-caption.alignright img[class*="wp-image-"] {
  float: right;
}

div.wp-caption.alignright .wp-caption-text {
  padding-left: 10px;
}

img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
  list-style-position: inside;
}
.entry-content img {
  margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.alignnone, img.alignnone {
  /* not sure about this one */
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
  max-width: 100%;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
table{
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgba(51, 51, 51, 0.1);
  margin: 0 0 1.6em;
  table-layout: fixed;
  width: 100%;
  td,th {
    border: 1px solid rgba(51, 51, 51, 0.1);
    padding: 0.4em;
  }
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}
.sticky{}
.bypostauthor{}

.post-id {}
.post {}
.page {}
.attachment {}
.hentry {}
.category-misc {}
.category-example {}
.tag-news {}
.tag-wordpress {}
.tag-markup {}
.widget_categories ul{
  li{
    ul{
      margin: 0.4688em 0 0 1em;
      padding-top: 0.4688em;
    }
  }
}
.noo-footer{
  .widget_calendar{
    *{
      color: @white !important;
    }
  }
  .comment-author-link{
    color: @white;
  }
  .widget.widget_recent_entries li a{
    color: @white;
  }
}
article.sticky{
  padding: 30px !important;
  background: @brand-success;

  &:first-child{
    .noo-post-format{
      top: 25px;
      right: 25px;
    }
  }
}