.vc_masonry_grid{
  .vc_pageable-load-more-btn{
    .vc_button-2-align-inline,
    .vc_button-2-wrapper{
      position: relative;
      &:before{
        position: absolute;
        width: 100%;
        height: 100%;
        background: @black;
        content: '';
        display: block;
        top: 0;
        left: 0;
        z-index: 800;
        .transition(all 0.4s ease 0s);
        .rotateY(90deg);
      }
      &:hover{
        a{
          color: @white !important;
        }
        &:before{
          .rotateY(180deg);
        }
      }
    }
  }
  .vc_grid-btn-load_more{
    margin: 0 !important;
    border: 3px solid @black;
    padding: 6px 50px;
    text-transform: uppercase;
    font-weight: @font-weight-bold;
    color: @black !important;
    font-size: @font-size-root + 2;
    background-color: transparent;
    position: relative;
    z-index: 900;
    line-height: 1.5;
    .border-radius(0);
    &:hover{
      background: transparent !important;
      border: 3px solid @black;
      color: @white !important;
    }
  }
  .vc_gitem-zone{
    &.vc_gitem-zone-c{
      background-color: @white !important;
      border-bottom: 1px solid #dadada;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
  .vc_gitem_row .vc_gitem-col{
    padding: 0 !important;
  }
  .vc_gitem-post-data{
    font-size: @font-size-base - 2 !important;
  }
  .vc_gitem-post-data-source-post_title{
    margin-top: 20px !important;
  }
  .vc_general.vc_btn3{
    padding: 8px 20px;
    border-radius: 0;
  }
  .vc_gitem-animate-goTop20{
    .vc_gitem-row-position-bottom{
      .vc_gitem-col{
        background: @white !important;
      }
      .vc_custom_heading div {
        color: @black !important;
      }
    }
    .vc_gitem-zone-b{
      background: transparent !important;
    }
  }
  .vc_gitem-animate-slideInRight{
    .vc_gitem-zone-b{
      background: @white !important;
    }
  }
  .vc_gitem-animate-blurOut{
    .vc_gitem-col{
      padding: 10px !important;
    }
    .vc_separator{
      margin-bottom: 25px !important;
    }
  }
  .vc_gitem-animate-slideInLeft{
    .vc_gitem-col{
      padding: 10px !important;
    }
  }
  .vc_grid-item-zone-c-right{
    .vc_grid-item-mini{
      background: @white !important;
    }
    .vc_gitem-zone-c{
      border: none;
      padding-left: 30px;
    }
  }
}