/*
* 5.0 Responsive
* -----------------------------------------------------------------------------
*/

/*
* 5.1 Responsive - Medium devices
* -----------------------------------------------------------------------------
*/

// 1299px
@media (max-width: 1299px) {
  .noo-item-slider .info-overlay h4{
    font-size: 16px;

  }
} // end 1299px

// 1199px
@media (max-width: @screen-md-max) {

  // Noo Event
  #tribe-events-footer .btn-view-all a{
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
  }

  // Footer
  .mc-subscribe-form{
    #mc_email{
      width: 80%;
    }
    .mailchip-sm{
      width: 20%;
    }
  }

  // Menu font-size
  .noo-menu,
  body .navbar-nav{
    li{
       > a{
          font-size: 12px !important;
       }
    }
  }

  // Noo Images
  .noo-images{
    width: 100%;
  }

  // Noo Title
  .noo-title{
    font-size: 48px;
  }
  
  // Noo menu today
  .menu-bottom-img{
    background-size: cover;
  }
  .noo-menu-today{
    &:before{
      background-image: url('../images/bg-menu-head-912.png');
    }
    &:after{
      background-image: url('../images/bg-menu-foot-912.png');
    }
  }
  .noo-menu-today-wrap{
    &.noo-gallery-gothic{
      .noo-menu-today{
        &:before{
          background-image: url('../images/bg-menu-head-fix-912.png');
        }
      }
    }
  }
  .col-menu-today{
    h4{
      font-size: 22px;
    }
    .menu-content{
      h5{
        font-size: 18px;
      }
      .menu-attributes{
        .price{
          font-size: 18px;
        }
      }
    }
  }

  .noo-menu-with-slider{
    .menu-content{
      h3{
        font-size: 18px;
      }
      .menu-attributes{
        .price{
          font-size: 18px;
        }
      }
    }
  } 

  .noo-item-slider .info-overlay{
    h4{
      font-size: 14px;
    }
  }

  // Woocommerce
  .woocommerce{
    .widget_price_filter{
      .price_label{
        float: left;
        .translate(0, -50px);
      }
    }
    .price_slider_amount .button{
      .translate(0, 38px);
      width: 100%;
    }
  }
  .widget_products{
    ul.product_list_widget{
      li a span{
        padding-left: 92px;
        display: block;
      }
    }
  }

  .noo-menu.noo_megamenu ul.sub-menu {
    width: 912px;
  }
  
} // end - 1199px

// 991px
@media (max-width: @screen-sm-max) {

  // Blog
  .single-post,
  .archive,
  .blog{
    .reser-padding-right{
      padding-right: 15px;
    }
    .pagination{
      padding-bottom: 20px;
    }
    .noo-sidebar-wrap{
      margin-left: 0;
      padding-top: 30px;
      clear: both;
    }
    .noo_widget_events li img{
      width: 100%;
    }
  }

  // WooCommerce  
  .woocommerce-cart{
    table.shop_table{
      .product-name .woo-ds{
        margin-right: 15px;
      }
      td{
        padding: 30px 0;  
      }
    }
  }
  .noo-shop-sidebar{
    padding-top: 40px; 
  }
  .woocommerce nav.woocommerce-pagination{
    padding-bottom: 30px;
  }
  .products{
    .first{
      clear: initial;
    }
    .product:nth-child(odd){
      clear: both;
    }
  }

  // Noo Event
  #tribe-events-footer .btn-view-all a{
    font-size: 14px;
    font-weight: @font-weight-base;
    border: none;
    color: @black;
    &:before{
      display: none;
    }
    &:hover{
      color: @brand-primary;
    }
  }
  .events-list,
  .tribe-events-day{
    .tribe-events-loop{
      .type-tribe_events{
        .btn-view-all{
          position: relative;
          text-align: left;
          margin-top: 30px;
          left: 0;
        }
      }
      .list-content{
        min-height: auto;
      }
    }
  }

  .tribe-bar-collapse #tribe-bar-views,
  .tribe-bar-collapse .tribe-bar-filters-inner>div{
    width: 25%;
  }

  #tribe-bar-form{
    #tribe-bar-views{
      .tribe-bar-views-list{
        padding: 12px 0 0 20px;
        background: @colorf5;
        z-index: 999;
        .tribe-bar-views-option{
          a{
            background: @colorf5;    
          }
        }
      }
      &:after{
        display: none;
      }
      .tribe-bar-views-inner{
        padding-top: 4px;
      }
    }
    &.tribe-bar-collapse{
     .tribe-bar-views-inner{
      background: @colorf5;
      padding-top: 4px;
      label{
        display: none;
      }
     }
    }
  }

  // Noo menu section
  .menu-sections{
    li{
      .cat-title{
        margin-bottom: 100px;
        span{
          height: 106px;
          font-size: 36px;
          line-height: 120px;
          padding-left: 0;
        }
      }
      &:nth-child(even){
        .cat-title{
          span{
            padding-right: 0;
          }
        }
        .term-thumbnail{
          width: 280px;
        }  
        .menu-content{
          padding-left: 0;
          padding-right: 0;
        }
      }
      .term-thumbnail{
        width: 280px;                 
      }
      .menu-content{
        padding-left: 0;
        padding-right: 0;
        h6{
          font-size: 18px;
          font-weight: 500;
        }
        .menu-attributes .price{
          font-size: 18px;
        }
      }
    }
  }

  .top_bar{
    display: none;
  }

  .noo-box-header:not(.noo-onepage){
    &,
    &.noo-menu-absolute{
      top: 0;
    }
  }

  .noo_news_event{
    .btn-view-all a{
      width: 60%; 
    }
  }
  // Noo menu today
  .noo-menu-today{
    &:before{
      background-image: url('../images/bg-menu-head-691.png');
    }
    &:after{
      background-image: url('../images/bg-menu-foot-691.png');
    }
  }
  .noo-menu-today-wrap{
    &.noo-gallery-gothic{
      .noo-menu-today{
        &:before{
          background-image: url('../images/bg-menu-head-fix-691.png');
        }
      }
    }
  }

  .noo-box-header.noo-menu-absolute{
    background: @black;
  }
  // Noo Images
  .noo-images{
    height: 336px;
    ul li{
      height: 160px;
    }
  }
  .noo_about{
    padding-top: 50px;
  }

  // Small nav-menu
  .navbar-brand .noo-logo-img,
  .navbar-brand .noo-logo-retina-img{
    height: 30px;
  }
  .navbar:not(.navbar-shrink) .navbar-brand{
    line-height: 55px !important;
    height: 55px !important;
  }
  .navbar,
  .navbar-header{
    height: 55px;
  }

  .navbar-brand{
    padding: 0;
  }
  .noo-box-header.noo-fix-top{
    position: absolute;
  }
  .noo-main-canvas{
    .sub-menu{
      list-style: none;
    }
  }
  .noo-container{
    position: relative;
  }
  button.noo_icon_menu {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    background: transparent;
    color: #ccc;
    border: 0;
    padding: 5px 0;
    outline: none;
    .transition(all 0.4s ease 0s);
    i {
      font-size: 26px;
    }
    &:hover{
      color: @white;
    }
  }
  .off-canvas {
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .off-canvas body {
    width: 100%;
    overflow-x: hidden;
    .box-sizing(border-box);
  }
  .off-canvas body > * {
    left: 0;
    .translate(0, 0);
    .transition(all 0.5s ease 0s);
    .backface-visibility(hidden);
  }
  .off-canvas #off-canvas-nav {
    display: block;
    position: fixed !important;
    top: 0px !important;
    left: 0;
    width: 0;
    z-index: 1;
    background: none;
    &.noo-adminbar{
      top: 20px !important;
    }
  }
  .noo-adminbar .noo-main-canvas {
    top: -32px !important;
  }
  .off-canvas #off-canvas-nav .noo-main-canvas {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    .translate(-100%, 0);
  }
  .off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse {
    background: none repeat scroll 0 0 @black;
    height: auto;
    margin: 0;
    padding: 30px 0;
    width: 100%;
    border-bottom: 1px solid @gray-drak9;
    overflow: scroll;
    overflow-x: hidden;
  }
  .off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li{
    float: none;
  }
  .off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li a{
    // color: @white;
    display: inline-block;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 16px;
    margin: 10px 0;
    padding: 2px 20px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
  }
  .off-canvas-enabled body > * {
    .translate(250px, 0);
  }
  .off-canvas-enabled #noo-main-canvas {
    display: block;
  }
  body .noo-main-canvas{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #000;
    display: block;
    padding: 0;
  }
  .noo-main-canvas i {
    color: #000;
    font-size: 14px;
    line-height: 50px;
  }
  a.exit-cavas{
    width: 50px;
    height: 50px;
    position: absolute;
    left: -60px !important;
    top: -25px;
    color: #ffffff;
    z-index: 22222;
    display: block;
    background-image: url("../images/icon-close.png");
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  .nav-collapse{
    height: 0;
    overflow: hidden;
  }
  .noo-menu-item-simple-cart{
    display: none !important;
  }
  .noo-menu{
    > li{
      ul{
        &.sub-menu{
          display: block !important;
          padding: 2px 20px;
          li{
            ul.sub-menu{
              // padding: 0 20px;
            }
          }
        }
      }
    }
  }
  
  .navbar-nav.sf-menu > li ul.sub-menu{
    border: none;
  }
  .off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li a{
    margin: 7px 0;
  }
  .noo-menu.noo_megamenu ul.sub-menu li{
    padding-left: 20px;
  }
  .noo-menu.noo_megamenu ul.sub-menu li a i{
    display: none;
  }
  .noo-menu.noo_megamenu ul.sub-menu li a.sf-with-ul{
    padding-bottom: 20px;
  }
  .noo-menu.noo_megamenu.noo_heading ul.sub-menu a.sf-with-ul{
    height: auto;
  }

} // end - 991px

// 991px ~ 768px
@media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {

  // Footer
  .noo-footer .footer-item{
    font-size: 14px;
  }

  // Noo service
  .noo-services-square{
    .services-square-icon{
      .icon{
        width: 30px;
        height: 30px;
        i{
          font-size: 36px;
        }
      }
    }
  }
  .noo-services-square{
    .services-square-icon{
      padding: 50px 0 14px;
      h3{
        font-size: 14px !important;
      }
      .bg-icon{
        width: 70px;
        height: 70px;
        &:before{
          height: 70px;
          width: 70px;
        }
      }
    }
  }
}


/*
* 5.2 Responsive - Small devices
* -----------------------------------------------------------------------------
*/
// 767px
@media (max-width: @screen-xs-max) {

  .noo_testimonial.noo-testimonial-circle{
     li{
        p{
          font-size: 18px;
        
        }
        .name{
          font-size: 14px;
        }
     }
  }

  // Noo Event
  
  .tribe-events-event-meta{
    .column,
    .tribe-events-meta-group{
      width: 50%;
      float: left;    
    }
  }
  #tribe-events div.tribe-events-single-event-description{
    padding-top: 34px;
    text-align: left;
  }

  .the-events-wrap{
    margin: 55px 0;
  }

  #tribe-events-bar{
    margin: 0;
  }

  .single-event-header .events-meta .events-meta-bk{
    margin: 0;
    .tribe-events-schedule h3{
      margin-bottom: 7px;
    }
    h2.tribe-events-single-event-title{
      font-size: 20px;
    }
  }
  
  .events-list,
  .tribe-events-day{
    .tribe-events-loop{
      .list-content{
        h2.tribe-events-list-event-title a{
          font-size: 20px;
        }
      }
    }
  }

  #tribe-events-footer~a.tribe-events-ical.tribe-events-button{
    line-height: 38px;
    height: 38px;
  }
  .tribe-events-sub-nav li a{
    &:hover,
    &:visited{
      color: @brand-primary;
    }
    background: transparent;
    color: @black;
  }

  .tribe-events-list{
    .time-details{
      margin-top: 10px;
    }
    h2.tribe-events-list-event-title{
      padding-top: 30px;
    }
    .tribe-events-event-image img{
      width: 100%;
      max-height: initial;
    }
  }

  .events-list,
  .tribe-events-day{
    .tribe-events-loop{
      .tribe-events-event-image{
         a{
            height: auto;
         }
      }
      .list-header{
        padding-right: 0; 
      }
      .list-content{
        padding-left: 0;
      }
    }
  }
  
  .noo_reservation{
    &:before{
      width: 0;
    }
  }

  // Footer
  .mc-subscribe-form{
    #mc_email{
      width: 85%;
    }
    .mailchip-sm{
      width: 15%;
    }
  }

  .noo-footer{
    .widget{
      padding-left: 0;
      padding-right: 0;
    }
    .footer-item{
      &:first-child{
        padding-left: 15px;
      }
    }
  }

  .vc_col-sm-6 .noo-ds{
    padding: 0 20%;
  }
  // Noo news
  .noo_news li{
    padding: 60px 0 60px;
    &:nth-child(even){
      .news-content{
        padding-left: 0;
        padding-right: 0;
      }  
    }
    .news-thumbnail{
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 20px;
    }  
    .news-content{
      width: 100%;
      h4{
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  // Noo Service
  .noo-services-square{
    padding: 0 20%;
  }

  .col-menu-today h4{
    font-size: 18px;
  }

  .btn-view-all a{
    font-size: 14px;
    border-width: 2px;
  }

  .noo_about{
    padding-bottom: 50px;
  }
  // Noo Images
  .noo-images{
    height: 456px;
    ul li{
      height: 220px;
    }
    .logo-images{
      width: 35%;
    }
  }
  
  .woocommerce-page div.product div.images,
  .woocommerce-page div.product div.summary{
    width: 100%;
  }
}

// 780px
@media (max-width: 780px) {
  .noo-adminbar{
    .noo-onepage-eff{
      top: 46px;
    }
  }
}

// 716px ~ 767px
@media (max-width: @screen-xs-max) and (min-width: 716px) {
  
  .noo-menu-today{
    width: 691px;
    margin: 0 auto;
  }

}


@media (max-width: 715px) {
  
  #tribe-bar-form{
    .tribe-bar-date-filter,
    .tribe-bar-search-filter,
    .tribe-bar-geoloc-filter{
      padding: 12px 30px;
    }
    .tribe-bar-date-filter{
      padding-top: 25px;
    }
  }

  .tribe-bar-collapse #tribe-bar-views,
  .tribe-bar-collapse .tribe-bar-filters-inner>div{
    width: 100%;
  }
  #tribe-bar-form .tribe-bar-submit{
    padding: 10px 30px 22px;
  }

  .noo-form{
    &,
    &.noo-form-contact{
    .book-form-field{
        width: 100%;
        &:nth-child(7),
        &:nth-child(6),
        &:nth-child(5){
          width: 100%;
        }
      }
    }
  }
  
  .col-menu-today{
    padding: 0;
  }

  .noo-menu-today{
    .noo-title{
      padding: 0;
      &:before,
      &:after{
        height: 0;
      }
    }
    &:after{
      visibility: hidden;
    }
    &:before{
      display: none;
    }
  }
  .menu-today-content{
    &:before,
    &:after{
      display: none;
    }
    > .row{
      margin: inherit;
    }
  }
}

// 649px
@media (max-width: 649px) {
  .noo-item-slider .info-overlay{
    > p {
      display: none;
    }
  }
}
// 600px
@media (max-width: 600px) {
  #tribe-events-photo-events{
    &,
    &.photo-two-col{
      .type-tribe_events.tribe-events-photo-event{
        max-width: initial;
      }
    }
  }
}

// 480 ~ 767px
@media (max-width: @screen-xs-max) and (min-width: @screen-xs-min) {
  .noo_team_item{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
* 5.3 Responsive - Mobile devices
* -----------------------------------------------------------------------------
*/

// 479px
@media (max-width: @screen-mobile-max) {
  
  .noo-onepage{
    top: 0;
  }
  .noo-adminbar{
    .noo-onepage{
      top: 46px;
    }
  }

  // Revolution
  .wpb_revslider_element{
    display: none;
  }

  // Noo Event
  #tribe-events .tribe-events-button{
    margin-bottom: 8px;
  }
  .events-list,
  .tribe-events-day{
    .tribe-events-loop{
      .type-tribe_events .btn-view-all{
        text-align: center;
      }
    }
  }

  .noo-item-slider .info-overlay{
    .view-detail{
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  
  .masonry,
  .noo-menu-with-slider,
  .noo-customform,
  .noo-menu-today-wrap{
    margin: 0 -15px;
  }

  .noo_news_event .btn-view-all,
  .btn-view-all{
    margin: 0;
    a{
      width: 100%;
    }
  }

  .vc_row-fluid > .vc_col-sm-12{
    padding-right: 15px;
    padding-left: 15px;
  }

  .vc_col-sm-6 .noo-ds,
  .noo-services-square,
  .noo-ds{
    padding: 0;
  }
  .noo_about{
    padding-top: 10px;
  }
  // Noo Title
  .noo-title{
    font-size: 38px;
    &.noo-title-medium{
      font-size: 38px;
    }
  }
  // Noo Images
  .noo-images{
    height: 376px;
    ul li{
      height: 180px;
    }
    .logo-images{
      width: 50%; 
    }
  }

}

/*
* 5.4 Responsive - Small Mobile devices
* -----------------------------------------------------------------------------
*/

// 320px
@media (max-width: @screen-mobile) {

  // Noo Images
  .noo-images{
    height: 276px;
    ul li{
      height: 130px;
    }
    .logo-images{
      width: 50%; 
    }
  }
}