/*
* 4.0 Theme RTL
* -----------------------------------------------------------------------------
*/

.theme-rtl{
  text-align: right;
  .wpb_revslider_element{
    text-align: initial;
  }
  .related.products{
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
      float: right;
    }
  }

  &.woocommerce span.onsale{
    left: auto;
    right: -84px;
    .rotate(41deg);
  }

  &.woocommerce div.product .entry-summary .woocommerce-product-rating .woocommerce-review-link{
    padding-left: 0;
    padding-right: 17px;
  }

  &.woocommerce .woocommerce-product-rating .star-rating{
    float: right;
  }
  &.single-product div.product form.cart{
    float: right;
  }

  &.woocommerce-page{
    #content div.product div.images,
    div.product div.images{
      float: right;
    }
    #content div.product div.summary,
    div.product div.summary{
      float: left;
    }
  }

  .woocommerce{
    .widget_price_filter{
      .price_label{
        float: left !important;
      }
      .price_slider_amount .button{
        float: right !important;
      }
    }
    
    .addresses .title{
      h3{
        float: right !important;
      }
      .edit{
        float: left !important;
      }
    }
  } 

  .noo_coupon_code .coupon{
    label{
      text-align: right !important;
    }
    input[type='text']{
      float: right !important;
    }
    input[type='submit']{
      float: right !important;
    }
  }
  
  .widget_categories{
    ul{
      li{
        margin-left: 0;
        margin-right: 27px;
        &:before{
          content: "\f104";
          left: auto;
          right: -27px;
        }
        span{
          float: left;
        }
        a{
          padding-left: 10px;
          padding-right: 0;
        }
      }
    }
  }
  
  .widget_search{
    form{
      &:before{
        border-left: none;
        border-right: 1px solid #959595;
        left: 0;
        right: auto;
      }
    }
  }
  .pagination{
    text-align: right;
  }

  .vc_masonry_grid{
    .vc_sep_width_50{
      margin-left: 50%;
    }
    .vc_btn3-left{
      text-align: right;
    }
    .vc_gitem-post-data-source-post_title{
      h4{
        text-align: right !important;
      }
      div{
        text-align: right !important;
      }
    }
    .vc_gitem-post-data-source-post_date{
      p{
        text-align: right !important;
      }
    }
    .vc_gitem-post-data-source-post_excerpt{
      div{
        text-align: right !important;
      }
    }
  }

  .tribe-events-single{
    ul.tribe-related-events{
      li{
        float: right;
        margin: 0 0 2% 4%;
      }
    }
    &#tribe-events-content form.cart{
      .col-md-6,
      .col-sm-6{
        float: right;
      }
    }
  }
  
  .tribe-bar-views-inner label{
    text-align: right !important;
    padding-right: 30px !important;
  }

  .tribe-bar-date-filter,
  .tribe-bar-search-filter,
  .tribe-bar-geoloc-filter,
  .tribe-bar-submit{
    float: right;
  }

  .tribe-bar-view-list a[class*=tribe-icon-], 
  .tribe-bar-views-list span[class^=tribe-icon-]{
    background-position: right 50%;
    padding-right: 24px;
    padding-left: 0;    
  }

  #tribe-bar-form{
    #tribe-bar-views{
      float: left; 
      &:after{
        left: auto;
        right: 0;
      }
      .tribe-bar-views-list{
        padding-left: 0;
        padding-right: 16px;
        .tribe-bar-views-option a{
          text-align: right;
        }
      }
    }
  }

  .tribe-events-loop{
    .type-tribe_events{

      .col-md-6,
      .col-sm-6{
        &:first-child{
          float: right;
        }
      }
  
      .list-header{
        padding-right: 0;
        padding-left: 15px;
      }
      
      .list-content{
        padding-right: 15px;
        padding-left: 0;
      }

      .btn-view-all{
        left: auto;
        right: 15px;
      }
    }
  }

  .menu-sections{
    li{
      .term-thumbnail{
        left: 0;
        top: 0;
      }
      .cat-title{
        padding-left: 200px;
        padding-right: 0;
        span{
          padding-left: 0;
          padding-right: 200px;

        }
      }
      .menu-content{
        padding-left: 430px;
        padding-right: 0;
      }
      &:nth-child(even){
        .term-thumbnail{
          right: 0;
          top: 0;
          left: auto;
        }
        .cat-title{
          padding-right: 200px;
          padding-left: 0;
          span{
            padding-left: 200px;
            padding-right: 0;
          }
        }
        .menu-content{
          padding-right: 430px;
          padding-left: 0;
        }
      }
    }
  }

  .noo-breadcrumb{
    span{
      float: right;
      span{
        float: none;
      }
    }
  }
  
  .noo-item-slider{
    .view-price{
      left: 25px;
      right: auto;
    }
    .info-overlay{
      h4{
        &:after{
          left: auto;
          right: 0;
        }
      }
      .view-detail{
        left: auto;
        right: 25px;
      }
    }
  }

  .noo-infomation{
    li{
      .infomation-left{
        float: right;
      }
    }
    address{
      padding-left: 0;
    }
  }

  a.go-to-top{
    right: auto;
    left: 20px;
  }

  .noo-openhours li{
    span{
      float: right;
      &:last-child{
        float: left;
      }
    }
  }

  .mc-subscribe-form{
    #mc_email,
    .mailchip-sm{
      float: right;    
    }
    .fa-angle-right:before{
      content: "\f104";
    }
  }

  .noo-form{
    .book-form-field{
      float: right;
    }
    .book-form-field:nth-child(7){
      width: 17.2%;
    }
  }

  form{
    input:not([type="submit"]),
    select,
    textarea{
      text-align: right;
    }
  }

  .wpcf7-form-control-wrap{
    &:before{
      left: auto;
      right: 10px;
    }
  }

  .menu-content{
    .menu-attributes{
      .price{
        padding-left: 0;
        padding-right: 6px;
      }
      .attr{
        padding-right: 0;
        padding-left: 6px;
      }
      .pull-left{
        float: right !important;
      }
      .pull-right{
        float: left !important;
      }
    }
  }

  header{
    .navbar-header{
      float: right !important;
    }
    .navbar-primary{
      float: left !important;
    }
    .noo-menu{
      > li{
          &:first-child{
            a{
              padding-left: 0;
            }
          }
          ul.sub-menu{
            left: auto;
            right: 0;
            li{
              text-align: right;
              ul{
                left: auto;
                right: 100%; 
              }
            }
            .sf-with-ul:after{
              right: auto;
              left: 15px;
              content: "\f104";
            }
         }
      }
    }
    .top_bar{
      .pull-left{
        float: right !important;
      }
      .pull-right{
        float: left !important;
      }
      .noo-address{
        li{
          float: right;
          &:last-child{
            padding-right: 20px;
            border: none;
            i{
              padding-left: 0;
            }
          }
        }
      }
    }
  }

}