 // Counter
 .noo-counter-holder { 
 	> span.noo-counter {
 		font-weight:@headings-font-weight;
 	}
 	.counter-text {
 		h3 {
 			margin-top: 0;
 		}
 		p {
 			text-align: center;
 		}
 	}
 }

 .noo-block-grid {
 	display: block;
 	overflow: hidden;
 	padding: 0;
 	list-style: disc;
 	> li {
 		display: block;
 		height: auto;
 		float: left;
 		> img.noo-img-thumbnail {
 			padding: 5px;
 			border: 1px solid rgba(0,0,0,0.15);
 			background-color: #fff;
 			border-radius: 2px;
 			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
			box-shadow: 0 1px 3px rgba(0,0,0,0.1);
			-webkit-transition: border 0.3s ease,box-shadow 0.3s ease;
			transition: border 0.3s ease,box-shadow 0.3s ease;
 		}
 	}
 }
 .noo-block-grid.two-col {
 	margin: 1.313em -1.25%;
 	> li {
 		width: 50%;
 		padding: 1.25%;
 		&:nth-child(2n+1) {
 			clear: both;
 		}
 	}
 }
 .noo-block-grid.three-col {
 	margin: 1.313em -1%;
 	> li {
 		width: 33.33333%;
 		padding: 1%;
 		&:nth-child(3n+1) {
 			clear: both;
 		}
 	}
 }
 .noo-block-grid.four-col {
 	margin: 1.313em -0.9%;
 	> li {
 		width: 25%;
		padding: 0.9%;
 		&:nth-child(4n+1) {
 			clear: both;
 		}
 	}
 }
 .noo-block-grid.five-col {
 	margin: 1.313em -0.85%;
 	> li {
 		width: 20%;
		padding: 0.85%;
 		&:nth-child(5n+1) {
 			clear: both;
 		}
 	}
 }
 .noo-block-grid.six-col {
 	margin: 1.313em -0.8%;
 	> li {
 		width: 16.66666%;
		padding: 0.8%;
 		&:nth-child(6n+1) {
 			clear: both;
 		}
 	}
 }


/*
 *		Typography Shortcode  
 */
	// Dropcap
 .noo-dropcap {
 	float: left;
 	margin: 0 10px 0 0;
 	font-size: 42px;
 	line-height: 35px;
 	text-shadow: 0 1px 3px rgba(0,0,0,0.15);
 }
 .noo-dropcap.dropcap-square,
 .noo-dropcap.dropcap-circle {
	padding: 7px 13px 11px;
 }
 .noo-dropcap.dropcap-circle {
 	border-radius: 100%;
 }
	// Quotes
	.noo-quote {
		border-left-color: #21c2f8;
		font-style: italic;
		font-weight: 400;
		font-size: @font-size-base;
		color: #75747b;
		margin: 10px;
		cite:before {
			content: "– ";
		}
		&.text-right {
			border-left-width: 0;
			border-right: 5px solid #21c2f8;
			cite {
				font-weight: 300;
			}
		}
		&.pullquote {
			width: 40%;
			font-size: 16px;

			border: none;
			h1 {
				font-size: 16px !important;
				line-height: 1.3 !important;
			}
			&.pullquote-left {
				float: left;
			}
			&.pullquote-right {
				float: right;
			}
			&.text-left {
				margin-left: 0;
				padding-left: 0;
			}
			&.text-right {
				margin-right: 0;
				padding-right: 0;
			}
		}
	}

/*
 *		Lightbox Shortcode  
 */
 .noo-lightbox-item {
	 	> img {
	 		display: block;
	 		margin: 0 auto;
	 	}
 	.rounded {
 		border-radius: @border-radius-base;
 	}
 	.circle {
 		border-radius: 50%;
 	}
 }

/*
 *		Callout Shortcode  
 */

 .noo-cta-btn {
 	background-color: #fff;
 	// border: 1px solid #bcbcbc;
	border-radius: 0;
	// box-shadow: 1px 1px 9px rgba(0,0,0,0.15);
	width: 50%;
	margin: 0 auto;
	text-align: center;
	.cta-title {
		font-size: 18px;
		margin-top: 0;
		margin-bottom: @grid-gutter-width / 2;
	}
	.btn {
		// font-size: @font-size-large;
	    // font-weight: @font-weight-bold;
	    text-transform: uppercase;
	}
	@media (max-width: @screen-xs-max) { 
		width: 90%;
		.btn {
			max-width: 200px;
			padding-right: 15px!important;
			padding-left: 15px!important;
		}
	}
 }


 .noo-icon {
 	&.icon-style-custom {
 		&.icon-circle {
 			> i {
	 			border: 1px solid transparent;
	 			border-radius: 50%;
	 			text-align: center;
	 			.transition(all 0.2s ease-in-out);
 			}
 		}
 		&.icon-square {
 			> i {
	 			border: 1px solid transparent;
	 			text-align: center;
	 			.transition(all 0.2s ease-in-out);
 			}
 		}
 	}
 }

 
@import "animations.less";


//Separator
.noo-separator{
	display: table;
	h4{
		display: table-cell;
		font-size: 100%;
		line-height: 1em;
		white-space: pre;  
	}
	.noo-sep-line{
		border-top: 1px solid @border-color-base;
	    display: block;
	    position: relative;
	    top: 0px;
	    width: 100%;
	    i{
	    	border-top: 1px solid @border-color-base;
	    	width: 0;
	    	height: 0;
	    	position: absolute;
	    	width: @grid-gutter-width;
	    	display: none;
	    }
	}
	&.overlap-to-both-side{
		.noo-sep-line{
			i{
				@media (min-width: @screen-md-min) {
					display: block;
				}
			}
		}
	}
	&.overlap-to-left{
		.noo-sep-holder-l{
			.noo-sep-line i{
				@media (min-width: @screen-md-min) {
					display: block;
				}
			}
		}
	}
	&.overlap-to-right{
		.noo-sep-holder-r{
			.noo-sep-line i{
				@media (min-width: @screen-md-min) {
					display: block;
				}
			}
		}
	}
 	&.line-with-text.separator-align-center{
		h4{
			padding-left: 0.8em;
			padding-right: 0.8em;
			@media (max-width: @screen-xs-max) {
				padding-left: @grid-gutter-width / 2;
				padding-right: @grid-gutter-width / 2;
			}
		}
		
	}
	&.line-with-text.separator-align-left{
		h4{
			padding-right: 0.8em;
		}
		.noo-sep-holder-l{
			display: none;
		}
		.noo-sep-holder-r{
			width: 100%;
		}
	}
	&.line-with-text.separator-align-right{
		h4{
			padding-left: 0.8em;
		}
		.noo-sep-holder-l{
			width: 100%;
		}
		.noo-sep-holder-r{
			display: none;
		}
	}
	
	.noo-sep-holder-l{
		display: table-cell;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
		.noo-sep-line{
			i{
				left: -@grid-gutter-width;
			}
		}
	}
	.noo-sep-holder-r{
		display: table-cell;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
		.noo-sep-line{
			i{
				right: -@grid-gutter-width;
			}
		}
	}
}

//Gap
.noo-gap{
	margin-left: 0;
	margin-bottom: 0;
	border-color: rgba(0, 0, 0, 0);
}

//Clear
.noo-clear{
	margin: 0;
	border: 0;
	clear: both;
}
//Pie

// Buttons
// -------------------------
.noo-pie-chart {
    z-index: 0;
    text-align: center;
    .noo-pie-chart-wrapper {
        position: relative;
        margin: 0 auto;
        .border-radius(50%);
    }
    .noo-pie-chart-heading {
    	margin-top: 30px !important;
    }
    &.noo-pie-chart-filled{
    	
    }
    canvas {
        position: relative;
        z-index: 1;
    }
    .noo-pie-chart-value {
        font-size: 200%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
    }
	.noo-pie-chart-back {
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 4px;
	    left: 4px;
	    border: 6px solid #f7f7f7;
	    border-radius: 999px;
	    border-radius: 50%;
	    .opacity(0.3);
	    .box-sizing(border-box);
	}

}

// //Pricing Table
// .noo-pricing-table{
// 	&:extend(.row all);
// 	&.one-col .noo-pricing-column{
// 		.make-sm-column(12);
// 	}
// 	&.two-col .noo-pricing-column{
// 		.make-sm-column(6);
// 	}
// 	&.three-col .noo-pricing-column{
// 		.make-sm-column(4);
// 	}
// 	&.four-col .noo-pricing-column{
// 		.make-sm-column(3);
// 	}
// 	&.five-col .noo-pricing-column{
		
// 	}
// 	&.six-col .noo-pricing-column{
// 		.make-sm-column(2);
// 	}
// 	&.three-col .noo-pricing-column{

// 	}
// 	.noo-pricing-column{
// 		.pricing-content{
// 			background: @pricing-color-bg;
// 			.pricing-header{
// 				background-color: @pricing-color-2;
// 				padding: @padding-xlarge-vertical @padding-xlarge-horizontal;
// 				.pricing-title{
// 					color: @pricing-color-1;
// 					margin: 0;
// 					text-align: center;
// 					font-size: @font-size-base;
// 				}
// 				.pricing-value{
// 					color: @pricing-color-1;
// 				    font-size: @font-size-base;
// 				    font-weight: @font-weight-base;
// 				    margin: @padding-xlarge-vertical 0 0;
// 				    text-align: center;
// 				    color: #fff;
// 				    .noo-price{
// 				    	font-size: 45px;
// 				    	color: @pricing-color-1;
// 				    }
// 				}
// 			}
// 			.pricing-info{
// 				border-left:1px solid @pricing-border-color-base;
// 				border-right:1px solid @pricing-border-color-base;
// 				ul{
// 					list-style: none;
// 					margin: 0;
// 					padding: 0;
// 					li{
// 						padding: @padding-xlarge-vertical @padding-xlarge-horizontal;
// 						text-align: center;
// 						font-weight: @font-weight-base;
// 						font-size: @font-size-base;
// 						background: #fff;
// 						i{
// 							position: relative;
// 							left: 0;
// 							top: 0;
// 						}

// 						&:nth-child(odd){
// 							background-color: #F2F2F2;
// 						}
// 					}
// 				}
// 			}
// 			.pricing-footer{
// 				border:1px solid @pricing-border-color-base;
// 				border-top:none;
// 				padding: @padding-xlarge-vertical @padding-xlarge-horizontal;
// 				text-align: center;
// 				.btn{
// 					background: none !important;
// 					.border-radius(0);
// 					border-width:2px; 
// 					border-color: #d2d2d2;
// 					color: #d2d2d2;
// 					font-size: 16px;
// 					text-transform: uppercase;
// 					line-height: 18px;
// 					.box-shadow(none);
// 					padding: 8px 20px;
// 					text-shadow:none;
// 					&:hover{
// 						border-color: @brand-primary !important;;
// 						color: @brand-primary !important;;
// 					}
// 				}
// 			}
// 		}
// 		&.featured{
// 			.pricing-content{
// 				.pricing-header{
// 					background-color: @pricing-color-1;
// 					.pricing-title{
// 						color: #fff;
// 					}
// 					.pricing-value{
// 						color: #fff;
// 						.noo-price{
// 							color: #fff;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}

// 	&.ascending{
// 		margin: 0;
// 		padding: 0;
// 		.noo-pricing-column{
// 			padding: 0;
// 			.pricing-content {
// 				border-left: 1px solid @pricing-border-color-base;
// 				border-top: 1px solid @pricing-border-color-base;
// 				border-bottom: 1px solid @pricing-border-color-base;
// 				border-right: none;
// 				.pricing-header{
// 					border: none;
// 					background:none;
// 					padding: 0;
// 					.pricing-title{
// 						padding: @padding-xlarge-vertical @padding-xlarge-horizontal;
// 						text-transform: uppercase;
// 						margin: 0;
// 						color: @pricing-color-1;
// 						font-size: @font-size-base;
// 					}
// 					.pricing-value{
// 						padding: @padding-xlarge-vertical @padding-xlarge-horizontal;
// 						background-color: #F2F2F2;
// 						margin: 0;
// 						color: @text-color;
// 						.noo-price{
// 							font-size: 45px;
// 						}
// 					}
// 				}
// 				.pricing-info{
// 					border: none;
// 					ul{
// 						li{
// 							font-size: @font-size-base;
// 							background: #fff !important;
// 							text-align: inherit;
// 							border-bottom: 1px solid @pricing-border-color-base;
// 						}
// 					}
// 				}
// 				.pricing-footer{
// 					border: none;
// 				}
// 			}

// 			&:last-child{
// 				.pricing-content {
// 					border-right: 1px solid @pricing-border-color-base;;
// 				}
// 			}

// 			&.featured{
// 				position: relative;
// 				background: none repeat scroll 0 0 #fff;
// 			    .box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
// 			    margin: -20px -1px 0;
// 			    z-index: 100;

// 				.pricing-content {
// 					.pricing-value{
// 						background-color: @pricing-color-1;
// 						color: #fff;
// 						.noo-price{
// 							color: #fff;
// 						}
// 					}
// 					border-right: 1px solid @pricing-border-color-base;

// 					.pricing-header{
// 						.pricing-title{
// 							margin: 10px 0;
// 						}
// 					}
// 					.pricing-info{
// 					}
// 					.pricing-footer{
// 						.btn{
// 							margin: 15px 0;
// 							border-color: @brand-primary !important;
// 							color: @brand-primary !important;
// 						}
// 					}
					
// 				}
// 			}
// 		}
// 	}
// }

//Post list
.noo-post-list{
	.title{
		.sub-title{
			margin-top: (@line-height-computed / 2);
		}
	}
}


// //Member
// .noo-member{

// 	.member-avatar{
// 		position: relative;
// 		img{
// 			max-width: 100%;
// 			width: 100%;
// 		}

// 		.member-social{
// 			background: #000;
// 		    height: 100%;
// 		    left: 0;
// 		    position: absolute;
// 		    top: 0;
// 		    width: 100%;
// 		    text-align: center;
// 		    .opacity(0);
// 		    .transition(all 0.3s);
// 		    a{
// 		    	display: inline-block;
// 		    	color: #fff;
// 			    display: inline-block;
// 			    font-size: @font-size-large;
// 			    padding: @padding-base-vertical @padding-base-horizontal;
// 			    position: relative;
// 			    top: 50%;
// 			    .translate(0,-50%);
// 			    &:hover{
// 			    	color: @link-hover-color;
// 			    }

// 		    }
// 		}
// 		&:hover{
// 			.member-social{
// 				.opacity(0.8);
// 			}
// 		}

// 	}
// 	.member-info{
// 		.team-meta{
// 			&:extend(.clearfix all);
// 			font-size: @font-size-large;
// 		    font-weight: @font-weight-base;
// 		    text-transform: uppercase;
// 		    small{ 
// 		    	float: right;
// 		    	font-size: @font-size-base;
// 			    font-weight: @font-weight-base;
// 			    text-transform: none;
// 		    }
// 		}
// 	}
// }
//Google Map
.noo-gmaps{
    position: relative;
    .map-overlay{
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	z-index: 100;
    }
	iframe{
		max-width: 100%;
		border: medium none;
	    display: block;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    position: relative;
	}
	&.no-map-responsive{
		iframe{
			height: 100%;
		    left: 0;
		    position: absolute;
		    top: 0;
		}
	} 
}


#cta_buy_theme {
	.noo-text-block {
		p {
			font-size: 18px;
    	line-height: 36px;
    	text-align: center;
		}
	}
	@media (max-width: @screen-md-min) { 
		.noo-text-block {
			p {
				text-align: center;
			}
			.btn {
				display: table;
				margin: 0 auto;
			}
		}
	}
}

// Category Featured Shortcode
@-moz-document url-prefix() { 
  .noo-category-featured .noo-tabcat-contents {
    margin-right: -1px;
  }
}
.noo-category-featured {
	.noo-tabcat-contents {

		.noo-tabcat-content {
			.noo-postcontent {
				margin-bottom: @grid-gutter-width / 2;
				padding-bottom: @grid-gutter-width / 2;
				position: relative;
				.noo-postthumbnai {
					position: relative;
					.item-category{
						position: absolute;
						top: 10px;
						left: 10px;
						z-index: 2;
						padding: 0 5px;
						color: @white;
						background: @brand-primary;
						font-weight: @font-weight-bold;
						.border-radius(@border-radius-small);
					}
				}
				
				.content-title {
					font-size: @font-size-large;
					line-height: 1.3;
					margin-bottom: 0.5em;
					margin-top: 1em;
				}
				.content-meta {
					color: @gray-lighter;
					a {
						color: @gray-lighter;
						&:hover {
							color: @brand-primary;
						}
					}
					span {
						padding-right: @grid-gutter-width / 3;
					}
				}
				.noo-post-excerpt {
					padding-top: 5px;
				}
			}
		}
		&.featured_style {
			.noo-tabcat-content {
				.noo-postcontent {
					&:first-child {
						width: 100%;
                        padding-bottom: 0;
                        clear: both;
                        position: relative;
                        margin-bottom: 100px;
                        .item-content {
                        	position: absolute;
                        	bottom: 0;
                        	padding: @grid-gutter-width;
                        	h3.content-title a {
                        		color: #fff;
                        		font-size: 30px;
                        		&:hover {
                        			color: @brand-primary;
                        		}
                        	}
                        	.content-meta {
                        		color: @gray-lightest;
                        		span i, span a {
                        			color: @gray-lightest;
                        		}
                        		a:hover {
                        			color: @brand-primary;
                        		}

                        	}
                        	.noo-post-excerpt {
                        		display: none;
                        	}
                        }
                        @media (max-width: @screen-xs-max) {
                        	margin-bottom: @grid-gutter-width / 2;
                        }
					}
					
				}
			}
		}
	}
}

// Style Tab Category No Childrend
.noo-tabcat-wrap {
	.noo_nochild {
		.noo-style2 {
			border-bottom: 0;
	  		margin-bottom: 0;
	  		padding-bottom: 20px;
		}
	}
}


.noo-widget_trending {
	.noo_widget_content {
		display: block;
	}
}


// Top News 
.noo-top-featured {
	background: #f0f0f0;
	height: 0;
    display: block !important;
    transition: all 0.4s linear 0s;
	overflow: hidden;
	.noo-top-news-tab {
		padding: @grid-gutter-width 0;

		.widget-tabs-header {
			h6 {
				display: inline-block;
				font-size: @font-size-large;
				margin-top: 0;
				margin-bottom: 20px;
				span {
					color: @gray-lighter;
					padding: 0 7px;
					border-left: 2px solid @gray-lighter;
					line-height: 0.8;
					display: block;
				}
				&:hover, &:focus {
					span {
						background: transparent;
						color: @gray;
					}
					
				}
				&.tab-active {
					span {
						background: transparent;
						color: @gray;
					}
				}
				&:first-child{
					span{
						padding-left: 0;
						border-left: 0;
					}
				}
			}
		}
		.noo_widget_content {
			// display: block;
			ul {
				margin: 0 -(@grid-gutter-width / 2);
				li {
					float: left;
					// width: 16.66%;
					// display: block;
					padding: 0 @grid-gutter-width / 2;
					img {
						width: 100%;
						height: auto;
						padding-bottom: @grid-gutter-width/2;
					}
					.noo_tb {
						padding-left: 0;
						h4 {
							padding-top: @grid-gutter-width /2;
						}
					}
					
					
					@media (max-width: @screen-xs-max) {
						width: 100%;
					}
				}
			}
		}
	}
}

