//----------------------------------------------------------------------------//
// NOO Framework / Less / Wordpress / Widgets
//
// This file is less styling for widgets of Wordpress
//
//----------------------------------------------------------------------------//


// ---------------------------------------------------------
// Widget Area
// ---------------------------------------------------------

// ---------------------------------------------------------
// Widget Common Style
// ---------------------------------------------------------
.widget {
 	+ .widget {
 		margin-top: @grid-gutter-width;
 	}

	// text-shadow: @widget-text-shadow;

	a:hover,
	a:focus {
		text-decoration: none;
	}

	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}

	ul,
	ol {
		overflow: hidden;
		margin-left: 0;
		padding: 0;
		list-style: none;
		background-color: @widget-block-bg;

		li {
			padding: (@widget-item-padding-vertical / 2) @widget-item-padding-horizontal;
			line-height: @widget-item-line-height;
			margin-left: 0;
			padding-left: 0;
			a {
			    font-size: @widget-link-size;
			    line-height: @widget-item-line-height;
			}

			&:first-child{
				padding-top: 0;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	select {
		width: 100%;
	}
}


.noo-sidebar{
	.widget{
		margin-top: 50px;
		&:last-child{
			border: none;
		}
	}
}

.widget_search{
	form{
		position: relative;
		.add-icon-before("\f002",0,1);
		&:before{
			position: absolute;
		    right: 0;
		    text-align: center;
		    text-decoration: inherit;
		    top: 0;
		    width: 3em;
		    cursor: pointer;
		    height: 3em;
		    line-height: 3em;
		    font-size: @font-size-base - 1;
		    background: transparent;
		    color: @text-secondary-color;
		    .border-radius(0 @input-border-radius @input-border-radius 0);
		}
	}
	.noo-formsearch-input{
	    box-shadow:none !important;
	    -webkit-box-shadow:none !important;
	    -moz-box-shadow:none !important;
	    padding-right: @input-height-base;
	    background: @white;
	    border: 1px solid @border-color-base;
	    font-weight: normal;
	    font-size: @font-size-base - 1;
	    height: 3em;
	}
    .noo-form-button{
      display: none;
    }
}
.widget_calendar {
	
	#wp-calendar {
		border-collapse: collapse;
	    border-spacing: 0;
	    border: 1px solid @border-color-base;
	    max-width: 100%;
	    margin-bottom: ((20px / @font-size-root) + @font-unit);
	    width: 100%;
		position: relative;
		font-size: @widget-link-size;		
		border-radius:@border-radius-small;

		caption {
			border-color:@border-color-base;
		    border-style: solid;
		    border-width: 1px 1px 0;
		    font-size: @font-size-base;
		    font-weight: @font-weight-small;
		    padding: @padding-base-vertical;
		    text-transform: uppercase;
		}

		th,
		td {
			text-align: center;
			line-height: ((1.625 * @font-size-base) / @font-size-base + @font-unit);
			padding: @padding-small-horizontal;
		}
		> thead{
			background-color: rgba(0, 0, 0, 0);
		}
		> thead > tr > th {
			font-weight: @font-weight-bold;
			font-size: @font-size-base;
			padding: @padding-base-vertical;
		}

		> tbody > tr > td {
			border: none;
			line-height: ((1.625 * @font-size-base)/ @font-size-base + @font-unit);
			padding: @padding-small-vertical;
			color: @black;

			&.pad {
				background-color: transparent;
				.box-shadow(none);

				&:first-child {
					border-left: 0;
				}

				&:last-child {
					border-right: 0;
				}
			}
			> a {
				color: @link-hover-color;
				display: block;
			}
		}
		
		> tfoot > tr > td {
			
		}
		> tfoot{
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			.pad{
				border: none;
			}
		}
		#prev,
		#next {
			font-weight: @font-weight-small;
		    padding: @padding-small-vertical @padding-small-horizontal;
		    text-shadow: none;
		    text-transform: uppercase;
		    position: absolute;
		    top:0;
		    > a {
		    	display: block;
		    	width: 40px;
		    	height: 40px;
		    	text-indent: -9999em;
		    	position: absolute;
		    	top: 0;
		    }
		}
		#next{
			right: 0;
			padding-left: (@grid-gutter-width / 2);
			.add-icon-before("\f105",5,1);
			> a {
				right: 0;
			}
		}
		#prev{
			left: 0;
			padding-left: (@grid-gutter-width / 2);
			.add-icon-before("\f104",5,1);
			> a {
				left: 0;
			}
		}
	}
}


// 3, Categories

// 4,5,6. Custom Menu, Mega, Page: Multi-level widgets.

.widget_nav_menu ul,
.widget_meta ul,
.widget_pages ul {
	li {
		// border: 0;
		// padding: 0;
		// .box-shadow(none);

		&:hover {
			
		}

		a {
			display: block;
			// border-bottom: 1px dashed @widget-border-color;
			// padding: @widget-item-padding-vertical @widget-item-padding-horizontal;
			// .box-shadow(@widget-item-box-shadow);
			// .add-icon-before ("\f0da");
			&:hover {
				
			}
		}

		ul,
		.sub-menu {
			border: 0;
			background-color: transparent;
			border-radius: 0;
			

			li {
				a {
					padding-left: @grid-gutter-width;
				}

				&:first-child {
					a {
						border-radius: 0;
					}
				}
			}

			ul li a {
				padding-left: (2 * @grid-gutter-width);
			}
		}
	}
}

.widget_nav_menu .menu {
	> li:last-child a:first-child {
		border-bottom: 0;
	}
}

.widget_nav_menu .current-menu-item > a {
	background-color: @widget-menu-current-item-bg;
}

.widget.widget_meta ul {
	border-bottom: 0;
}

.widget.widget_meta li {
	abbr[title] {
		border-bottom: 0;
	}
}

.widget.widget_pages ul {
	border-bottom: 0;
}

// 7, 8, 9 have large padding
.widget.widget_recent_comments li,
.widget.widget_rss li {
	font-size: @widget-link-size;
}
.widget.widget_recent_entries li {
	padding-bottom: @widget-item-padding-vertical;
	a {
		font-size: @font-size-base;
		font-family: @headings-font-family;
		font-style: @headings-font-style;
		font-weight: @font-weight-bold;
		color: @text-color;
		&:hover{
			color: @link-hover-color;
		}
	}

	.post-date {
		display: block;
		color: @text-color;
		.opacity(0.7);
	}
}

 
// 9. RSS
// Hide the RSS icon
.widget.widget_rss .widget-title img[alt=RSS] {
	.hidden();
}

.widget.widget_rss .widget-title {
	a:last-child {
		.add-icon-before("\f143", @icon-padding-large);
	}
}

.widget.widget_rss li {
	a {
		display: block;
		margin-top: @padding-small-vertical;
		border-bottom: 0;
		font-size: @font-size-large;
		font-weight: @font-weight-base;
		.add-icon-before("\f08e");
	}
}

.widget_rss .rss-date {
	display: block;
	margin-top: @padding-small-vertical;
	text-transform: uppercase;
	&:not(:empty) {
		.add-icon-before("\f133");
	}
}

.widget_rss .rssSummary {
	margin: 10px 0;
	font-size: @widget-link-size;
}

.widget_rss cite {
	display: block;
	text-transform: uppercase;

	&:not(:empty){
		.add-icon-before("\f007");
	}
}

// 10. Search

// 11. Tag Cloud
.widget_tag_cloud,
.widget_product_tag_cloud {
	text-shadow: none;
}

.widget_tag_cloud .tagcloud,
.widget_product_tag_cloud .tagcloud {
	&:extend(.clearfix all);
}

.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
//	.tag();
}
.recent-tweets{
	.twitter_time{
		font-size: @font-size-small;
		border-bottom: 1px dotted #8d8d8d;
		color: #c2c2c2 !important;
		
		&:hover{
			color: lighten(@link-color, 10%);
		}
	}
}

.widget_newsletterwidget{
	.newsletter-email{
		&:extend(.form-control all);
	}
	.newsletter-submit{
		&:extend(.btn all);
		&:extend(.btn-primary all);
		&:extend(.pressable all);
	}
}


// widget categories 
.noo-cause-category-widget, .noo-event-category-widget {
	ul {
		li {
			width: 50%;
			float: left;
			list-style: none;
			position: relative;
			padding-left: 20px;
			&:before {
				content: "";
				position: absolute;
				top: 15px;
				left: 0;
				width: 10px;
				height: 1px;
				background: #ebebeb;
			}
			@media (max-width: @screen-xs-max) {
				width: 100%;
			}
		}
	}
}


// COUNter-social-widgets

.widget-counter {
	&.col3 {
		ul {
			li {
				display: inline-block;
				float: left;
				list-style: none;
				margin: 0;
				padding: 10px 10px 10px 0;
				a {
					border: 1px solid @border-color-base;
					padding: 10px;
					display: block;
					text-align: center;
					width: 70px;
					height: 70px;
					font-family: @headings-font-family;
					background: @gray-lightest;
					i, span {
						display: block;
					}
					span{
						font-weight: @font-weight-bold;
						line-height: 1;
						margin-top: 5px;
					}
				}
				&:first-child {
					padding-top: 10px;
				}
			}
		}
	}
}

.widget_noo_categories {
	ul {
		li {
			text-align: right;
			font-family: @headings-font-family;
			a {
				float: left;
				color: @text-color;
				font-weight: bold;
			}
		}
	}
}

.widget_recent_news {
	ul {
		li {
			margin-bottom: @grid-gutter-width / 2;
			overflow: hidden;
			img {
				border-radius: @border-radius-base;
				margin-right: @grid-gutter-width;
				float: left;
				@media (max-width: @screen-xs-max){
					margin-right: @grid-gutter-width/2;
				}
			}
			a {
				vertical-align: center;
				line-height: 1.8;
				display: block;
			}
		}
	}
}


.widget_post_slider {
	position: relative;
	.post-slider-content{
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 20%;
		z-index: 1;
		padding: 5px 20px;
		background: rgba(68,73,75,0.78);
		.post-slider-title{
			margin: 0;
		}
		a{
			color: @white;
			&:hover{
				color: @brand-primary;
			}
		}
	}
}

.widget_latest_ratting {
	position: relative;
	
	h4 {
		line-height: 1.5;
		margin-bottom: 10px;
	}
	.widget-latest_ratting-content  {
		padding-top: 20px;
		.latest_ratting-featured{
			img{
				width: 100%;
			}
		}
		.noo-ratting-meta {
			font-style: italic;
			color: @gray-lighter;
			margin-bottom: @grid-gutter-width / 2;
			font-family: @headings-font-family;
			a {
				color: @gray-lighter;
			}
			span {
				padding-right: @grid-gutter-width;
				i {
					padding-right: 10px;
				}
			}
		}
	}
	
}